[2018-02-25 16:20] char0n commented on #391
@Undistraction yeah why not, but it will have to reintegrated and not used as dependency.

[2018-02-25 16:25] GingerPlusPlus commented on #415
`minList` could return `Infinity`, `maxList` could return `-Infinity`.

[2018-02-25 16:32] GingerPlusPlus commented on #415
And, I'm not sure if we need `maxListBy` and `minListBy`:

[code]

[2018-02-25 16:38] GingerPlusPlus commented on #400
1. I started implementing `padStart` and `padEnd`, please assign me. And please label this issue.

2. Should a function with signature `repeat(s: string, n: number)` be considered polyfill of `String.prototype.repeat` and live in polyfills, despite having different signature, or should it be considered just an internal function?

[2018-02-25 16:56] char0n commented on #400
Implement a polyfill using this: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/repeat as `src/internal/polyfills/String.repeat.js`. Don't modify the String.prototype just export this function from the file. Then we have to create a public util called `repeatStr` with alias of `repeatString` and use mechanism like [this](https://github.com/char0n/ramda-adju

[2018-02-25 17:08] GingerPlusPlus commented on #400
I went a different approach, I created a `repeat(s: string, n: number)` function which calls `s.repeat(n)` if it's defined, and uses Ramda and RA if not. So, I guess it means it's an internal method. Similar story with `padStart` and `padEnd`, try to dispatch to the method, and uses internal function, `createPadding` if it's not defined.

Not `const padEnd = String.prototype.padEnd ? R.invoker(...

[2018-02-25 17:11] GingerPlusPlus commented on #400
2 internal functions. `repeat` and `createPadding`.

[2018-02-25 17:25] GingerPlusPlus commented on #391
@Undistraction how about calling `.trim()` on a string first? That'd resolve it.

[2018-02-25 17:27] char0n commented on #400
@GingerPlusPlus I will still require your PR to conform to the proposed solution in https://github.com/char0n/ramda-adjunct/issues/400#issuecomment-368325029

If we're gonna by be invoking String.prototype.repeat our polyfill must adhere to ECMASCRIPT spec and have exactly the same behavior.

[2018-02-25 17:32] GingerPlusPlus commented on #400
I think it'd be easier to discuss if you could see the code. Let's return to the topic after I PR.

[2018-02-25 18:30] Undistraction commented on #391
@gingerplusplus I think you've failed to understand the purpose of this function.

[2018-02-25 18:31] GingerPlusPlus commented on #391
I do understand `dedent-js`, I use it in one of my projects. Unsure what the difference from it gives you.

[2018-02-25 18:32] Undistraction commented on #391
@char0n Yep. I'll open an issue for it and we can look at it somewhere down the line.

[2018-02-25 19:35] Undistraction commented on #400
@char0n Lets park this for the moment until we have a better idea of which string functions we are going to include. We can get a better feel for shared utilities then.

[2018-02-25 19:49] Undistraction commented on #415
@GingerPlusPlus I'm not sure who the 'we' you keep referring to is, but in all honesty you are introducing rather a lot of unhelpful noise in the issues of this project. Please consider your contributions more carefully and contribute more sparingly.

[2018-02-25 21:09] guillaumearm commented on #400
@Undistraction : Agreed, maybe the RA string update will be for `v2.7.0` ? 😆

@GingerPlusPlus : In fact, your polyfill is a [ponyfill](https://github.com/sindresorhus/ponyfill)

@char0n :

Exactly, any resources on this ?

Let's move on #418 to discuss about implementation.

[2018-02-25 22:30] guillaumearm opened #419 "RA as a monorepo"
### The idea
The idea is to consider ramda-adjunct as a monorepo, and add additional packages around it :
- eslint-plugin-ramda-adjunct
- ramda-adjunct-monads
- ramda-adjunct-effects
- and so on...

Purpose behind this is to make a large community around functional programming in javascript, enforce practices, write tools, share concepts.

I have create a proposal on ramda repository to start the

[2018-02-26 13:28] Undistraction commented on #419
I do like the idea, but as you have already mentioned, I think the key is that there is minimal/no disruption for the user. I think it would be great if Ramda took the lead and architected a more clearly defined set of libs around a monorepo, but I doubt that will happen any time soon. It would also involve a lot of work unifying libs etc.

So the questions here are:

1. Do we see any benefit to m

[2018-02-26 16:44] guillaumearm commented on #419
- 1. We should **define a precise scope for RA**, we can't end up with a ramda-adjunct-list, ramda-adjunt-predicates, ramda-adjunct-adjunct, this scope need to be mentionned somewhere (RA README.md). Anyway, I think discussing about RA which will become too large is a good point, Do we need a dedicated issue for this ?

- 2. I think there is **no performance gains** for user, **just more stuffs**.

[2018-02-26 19:48] GingerPlusPlus commented on #415
@Undistraction Thanks, noted.

I'll be more explicit. Already edited my previous comments in this issue.

I wish I knew which of my comments are seen as "unhelpful noise".
I assume my comment about https://github.com/Undistraction/dedent-preserving-indents in issue 391 (don't wanna reference it, would be more noise) was the straw that broke camel's back, it was completely off-topic, it should've b

[2018-02-28 14:24] char0n opened #421 "package.json license field"
[code]

[2018-03-05 16:04] guillaumearm commented on #392
I would like to make a PR for this,
can we decide for a name ?

If we vote, I vote `RA.contained`.

[2018-03-05 16:15] guillaumearm commented on #414
If we choose rollup (#318) instead of webpack, please take a look to `treeshake.pureExternalModules` and `treeshake.propertyReadSideEffects` options.

Ref : [RollupJS guide, danger-zone part](https://rollupjs.org/guide/en#danger-zone)

[2018-03-05 17:08] Undistraction commented on #392
We already voted and `contained` won.

[2018-03-05 17:23] GingerPlusPlus commented on #392
I'd love to have an alias... but whatever, it can easily be added later, removing is harder.

So, 100% fine with `contained` only.

[2018-03-05 18:14] guillaumearm commented on #392
@Undistraction : Oups sorry for that.

@GingerPlusPlus, you can alias it yourself :
[code]

[2018-03-05 18:15] Undistraction commented on #392
@guillaumearm No need to apologise.

[2018-03-05 21:00] #421 closed

[2018-03-05 21:05] char0n commented on #392
Yes, let's not alias this to keep `oneOf` and `within` free for feature usage.
For completness, commonjs aliasing
[code]

[2018-03-07 14:28] Undistraction opened #433 "Commit-lint Unhelpful Error Messages"
I'm getting failing commits with the new commit-lint setup when I can't see anything wrong with the message:

# Message
[code]

# Error

[code]

[2018-03-07 19:54] Undistraction opened #438 "Enable prefer-both-either ramda linting rule"
`prefer-both-either` has been [added](https://github.com/ramda/eslint-plugin-ramda/commit/6e5879be4c24a903ab57587af14f90e2746f1212) to eslint-plugin-ramda and should be enabled.

[2018-03-07 20:21] Undistraction commented on #414
@guillaumearm This isn't related to our bundler. It's related to a flag we can set in our `package.js` which will be used by other bundlers (Webpack) that are consuming our package. It tells them that our package is side-effects free, so the bundler can be more aggressive about tree-shaking. It would probably make more sense to add your note to #318

[2018-03-07 20:22] Undistraction commented on #414
Ramda are [going to enable the flag](https://github.com/ramda/ramda/issues/2482).

[2018-03-07 23:36] guillaumearm commented on #414
@Undistraction : Yes, this is a great point, if I understood correctly, the `sideEffects: false` will be useful for RA user that bundle his app, and not specially for us ?

[2018-03-07 23:38] guillaumearm commented on #318
Like I said in #414 :

Ref : [RollupJS guide, danger-zone part](https://rollupjs.org/guide/en#danger-zone)

[2018-03-08 00:43] guillaumearm commented on #349
@GingerPlusPlus :

because `over(lensProp('a'), identity, {})` returns `{ a: undefined }`

[2018-03-08 08:04] Undistraction commented on #414
@guillaumearm Yes. Exactly. It means that their final bundle is potentially much smaller when using RA.

[2018-03-08 17:46] Undistraction commented on #35
@char0n You OK if I bump this to 2.7.0?

[2018-03-08 17:53] Undistraction commented on #66
@char0n Shall we get the remaining functions into their own issues?

[2018-03-08 17:56] Undistraction commented on #111
I'm going to close this as I don't think we have any intention of doing what @microcipcip proposed. Feel free to reopen if its worth discussing more.

[2018-03-08 17:56] #111 closed

[2018-03-08 17:58] Undistraction commented on #129
Closed with #db2a26

[2018-03-08 17:58] #129 closed

[2018-03-08 18:05] Undistraction commented on #419
In our Gitter discussion a while back @char0n said:

[2018-03-08 18:17] Undistraction commented on #392
@guillaumearm Added this to 2.7.0. No pressure.

[2018-03-08 20:04] tommmyy commented on #392
https://github.com/tommmyy/ramda-extension/blob/master/packages/ramda-extension/src/includes.js

https://github.com/tommmyy/ramda-extension/blob/master/packages/ramda-extension/src/notInclude.js

[2018-03-08 20:12] Undistraction commented on #392
@tommmyy Thanks for the links. @guillaumearm Fancy adding a `notContained`?

[2018-03-08 20:53] char0n commented on #111
Agree, this is not something we want to do anymore. @microcipcip sorry.

[2018-03-08 20:56] char0n commented on #66
@Undistraction yep, but I need to do that (or anybody that read the @fogus book). We'll have to provide original implementation as a description for these separate issues and explanation from the book for possible usecases.

[2018-03-08 20:57] char0n commented on #35
Bump it up or remove the milestone entirely. Have no usecases for the rest of them right now.

[2018-03-08 20:59] Undistraction commented on #35
@char0n When you get a chance maybe move remaining to separate issues.

[2018-03-08 21:01] char0n commented on #35
Yeah me or anybody else can do that.

Note for me and others: when doing it reference this issue in the child issues just for reference and then close this one.

[2018-03-08 21:04] char0n commented on #433
[code]
I thinks that subject cannot contain special chars and first character after `:` should be lowercase.

[2018-03-08 21:19] Undistraction commented on #433
Ah. Of course. Was working late.

[2018-03-08 21:53] microcipcip commented on #111
Np, my initial solution works well for me ;)

[2018-03-08 22:22] guillaumearm commented on #392
@Undistraction : sure

[2018-03-09 08:03] Undistraction commented on #408
For context and discussion see #109

[2018-03-09 08:08] Undistraction commented on #115
@charOn Anything actionable here or shall we close?

[2018-03-10 09:31] Undistraction commented on #433
This seems to be working fine now (or at least I seem to be formatting the messages properly). I'll close for now and reopen if I encounter it again.

[2018-03-10 09:31] #433 closed

[2018-03-10 10:52] Undistraction commented on #393
Are we OK with never being able to include `Number.POSITIVE_INFINITY` in a range? Because the upper value is exclusive.

[2018-03-10 14:47] guillaumearm commented on #393
I don't know, IMHO, `Infinity` is not really an upper bound :
[code]

But conceptually you right, so should we support negative ranges ?

[2018-03-10 14:51] Undistraction commented on #393
You could look at it like this:

If I'm trying to check if a value is in the range of `n` to `Number.POSITIVE_INFINITY` I'm effectively doing `R.flip(R.gt(n))` so I should use that instead. However I'm not sure if that is a good enough argument.

[2018-03-10 17:31] Undistraction opened #442 "compactList / compactArgs"
Convert function args into a compact list:

[code]

Useful in converging functions where you want a list at the other end, but some functions might return undefined.

Maybe a little too specific.

[2018-03-11 20:01] char0n commented on #414
Can you collaborate on this ? We have some internal polyfills which should be side effects free too. Then we are using promise polyfill for phantomjs but that's about it.

Yes, basically we are supporting this already, because of the way RA is written.

There are some exceptions like [this](https://github.com/char0n/ramda-adjunct/blob/a3109fc1020c6f4a8686d032cb7d539a230af258/src/isGeneratorFunctio

[2018-03-11 20:03] char0n commented on #115
I think assimilation may be to big task but we should still review the lib and see if some concepts are suited for RA.

[2018-03-11 20:29] char0n commented on #442
IMHO hard to find a usecase for it. It's basically a `compactArgs` as I understand it, but it will change the positions of the args by removing the falsy values which may render it impossible to deterministic-ally apply to another function.

[2018-03-11 20:32] Undistraction commented on #442
Yep. Fair enough. I have a situation where I have a function that accepts only an arbitrary number of `...args` and this makes some kind of sense in that situation, but I struggle to see a use outside of this particular situation.

[2018-03-11 20:32] #442 closed

[2018-03-11 20:37] char0n commented on #442
Yeah it's hard to use for general usecases, but nice idea anyway

[2018-03-11 20:38] Undistraction commented on #414
I think I understand this enough to know we should do it. My only concern was the polyfills, but I think we should be OK. Is the promise pollyfill only used in tests?

[2018-03-11 20:40] char0n commented on #414
Yes only in tests.

Pls document your research so that we can reference it in future.

[2018-03-12 10:54] Undistraction opened #444 "RA.lengthGt, RA.lengthLt, RA.lengthGte, RA.lengthLte, RA.lengthEq, RA.lengthNotEq"
[code]

[2018-03-14 08:06] #324 closed

[2018-03-14 10:30] #255 closed

[2018-03-14 14:49] guillaumearm commented on #444
Soon, I never implements predicates anymore, I use ramda-adjunct :-D

Jokes apart, It's all good for me, if @char0n is OK, we can set a 'feature' label and move on PR.

[2018-03-14 15:05] char0n commented on #444
Why not, then this can be easily used in lenses

[2018-03-14 15:15] guillaumearm commented on #444
In lenses ? How ?

[2018-03-14 15:18] guillaumearm commented on #97
I’ve tried it this week on a dummy package, this is just awesome.

Anyway, we should rethinking our workflow.

[2018-03-14 15:24] char0n commented on #444
[code]

[2018-03-14 15:26] guillaumearm commented on #444
Yes ! With lensSatisfies, this is awesome !

[2018-03-14 15:40] guillaumearm commented on #304
Personally, I often write a `compactJoin` function for making my `webpack` or `rollup` configuration like this :

[code]

I use it to conditionally concat things.
IMHO, this is definitively a feature.

[2018-03-15 09:05] Undistraction opened #451 "Futil"
A lib adding functions to Lodash. Worth a look for ideas of functions to add.

https://github.com/smartprocure/futil-js/blob/master/README.md

[2018-03-15 11:21] Undistraction opened #452 "Compound"
See: https://github.com/pdme/compound

[2018-03-15 13:10] guillaumearm commented on #452
Nice idea, I always add my own `composeReducers` in all of my redux projects.
For naming, what about `RA.composeReducers` and `RA.pipeReducers` ?

I think this issue can definitively being a feature.

[2018-03-15 13:43] Undistraction commented on #452
@guillaumearm I think we probably want to avoid using 'reducer' in the name as Redux's idea of what a reducer is is quite idiomatic. Perhaps an alias though?

[2018-03-15 14:27] guillaumearm commented on #452
- With arity of 1, it's a normal compose

- With fixed arity of 2, `composeReducer` name makes sense, it's not about only redux, it's about reducers, this functions can be provided to `R.reduce` for example.

- With arity of 3 : what is the use case ? @Undistraction, can you provide me an example ?
I don't sure to get it.

[2018-03-15 14:39] Undistraction commented on #452
Ok. I see your point

I don't sure to get it.

I'm thinking it helps keep things point-free in situations where you need a sequence of functions that transform a single value, but need access to one or more additional variables to do their work.   Seems like it might offer a way of avoiding having to use closure (from params or vars) to make values accessible. However, I'm not sure if this is any

[2018-03-17 02:18] guillaumearm opened #454 "src/fantasy-land/util.js#typeEquals is not used"
The 98% codecov badge attracted my attention and I fall on this :
https://codecov.io/gh/char0n/ramda-adjunct/src/8cc269fcdf3125354aceae18c564538be72e89a5/src/fantasy-land/util.js#L22

So, I grep for it :

[code]

`typeEquals` is not used, is it normal ?

[2018-03-17 13:20] guillaumearm opened #456 "import RA default export doest not works"
default export seems to not works like `ramda` does.

[code]

I don't understand why, maybe need to investigate https://github.com/ramda/ramda/blob/master/.babelrc

[2018-03-17 14:13] guillaumearm commented on #456
I have made some investigations on ramda :

[code]

It seems like Ramda have a bug and never really expose es module.
In my case, "module" field is ignored, but "jsnext:main" works fine.

[code]

I can't find a case where "module" is used, I test this with babel 6 and this configuration :

[code]

[2018-03-18 01:11] guillaumearm opened #457 "Improve ci browsers tests"
According to https://hub.docker.com/r/circleci/node/, we can use `circleci/node:9-browsers` docker image to run testem with Firefox and Google Chrome.

[2018-03-18 10:45] Andarist commented on #456
How do u consume `ramda-adjunct`? node? webpack? rollup? other?

[2018-03-18 15:45] guillaumearm commented on #456
In my case I've just node, so `import` are replaces by `require`, commonJs is used, everything seems normal.

You right, but I have to know why `import R from 'ramda'` is working while `import RA from 'ramda-adjunct'` doesn't

[2018-03-18 16:27] Andarist commented on #456
Might be because `ramda` uses custom transform from esm to cjs - https://github.com/ramda/ramda/blob/9e5107e6e021b35179401eb719283cd835687d51/scripts/transpile/esm-to-cjs.js . This is just a guess though - you should be able to debug this easily by inspecting transformed outputs of both.

[2018-03-18 19:27] Undistraction commented on #444
Should these be 'isLengthGt`, `isLengthGte` etc. insead?

[2018-03-19 02:31] char0n commented on #454
Yeah it's normal. These functions are for asserting FL monad types. The problem is that they are not tested. They are still being exported as public API. So If we cover them with tests we should be OK.
[code]

[2018-03-23 23:44] #438 closed

[2018-03-24 14:44] Undistraction opened #467 "propsToList"
Create a list using selected props from an object. Quite possibly this exists somewhere already but I haven't found it.

[code]

Useful paired with `apply`.

[2018-03-24 15:40] guillaumearm commented on #467
I'm not sure to understand your example, what is **[a, b]** ?

[2018-03-24 15:46] guillaumearm commented on #467
Yeah, I suspected it, but I wasn't sure.

This is a nice idea, I like it.

Why not a `pathsToList` function ?

[code]

[2018-03-24 15:50] guillaumearm commented on #467
Wait a minute, this is definitively [R.props](http://ramdajs.com/docs/#props)

[2018-03-24 17:41] Undistraction commented on #467
Yes it is. I knew it was there somewhere. Thanks and sorry for the distraction.

[2018-03-24 17:41] #467 closed

[2018-03-24 19:12] guillaumearm opened #468 "paths"
Like [R.props](http://ramdajs.com/docs/#props) but using [R.path](http://ramdajs.com/docs/#path)

[code]

[REPL](http://ramdajs.com/repl/#?const%20list%20%3D%20unapply%28identity%29%0A%0Aconst%20paths%20%3D%20uncurryN%282%29%28compose%28converge%28list%29%2C%20map%28path%29%29%29%3B%0A%0Aconst%20o%20%3D%20%7B%0A%20%20a%3A%20%7B%20b%3A%201%20%7D%2C%0A%20%20c%3A%20%7B%20d%3A%202%20%7D%2C%0A%7D%3B%0A

[2018-03-24 19:40] guillaumearm opened #469 "Have an eslint-plugin-ramda-adjunct repository"
IMHO, there are a lot of eslint rules we can imagine for `ramda-adjunct`.

@char0n  : Are you ok to create this repo ?

**edit**: I can take a little time to make this project up.

This issue can be related to #419.

[2018-03-24 19:54] Undistraction commented on #469
What kind of rules are you imagining?

[2018-03-24 20:54] guillaumearm commented on #469
`prefer-is-string`
[code]

`prefer-compact`
[code]

and so on...

[2018-03-24 21:01] guillaumearm commented on #469
Just looking the ramda-adjunct documentation, you can deduce a lot of simple rules.

an another example:

`prefer-is-not-nil`
[code]

[2018-03-24 21:08] guillaumearm commented on #468
woops, we already have [RA.paths](https://char0n.github.io/ramda-adjunct/2.5.0/RA.html#.paths)

[2018-03-24 21:08] #468 closed

[2018-03-24 22:26] guillaumearm opened #470 "add missing "R." in "see also" part in documentation"
There are a lot of missing `R.` in documentation.

------------------

example in [RA.appendFlipped](https://char0n.github.io/ramda-adjunct/2.5.0/RA.html#.appendFlipped) :

See also: [isEmpty](http://ramdajs.com/docs/#isEmpty), [isNil](http://ramdajs.com/docs/#isNil)

should be

See also: [R.isEmpty](http://ramdajs.com/docs/#isEmpty), [R.isNil](http://ramdajs.com/docs/#isNil)

[2018-03-27 11:06] Undistraction opened #472 "Restrict scope case"
There is a [PR](https://github.com/marionebl/commitlint/issues/307#issuecomment-376480920) adding support for restricting scope to a subset of scopes to commit-lint. We currently have no restriction on scope because we couldn't limit to just one case. Once this PR drops we should restrict to:

[code]

[2018-03-27 17:28] #470 closed

[2018-03-27 17:29] Undistraction commented on #469
I definitely like this idea, but potentially a lot of work.

[2018-03-30 14:15] Undistraction opened #477 "RA.isNumberString / RA.isNotNumberString"
We currently don't offer a way to check if a string is a number.  `isNaN` uses `Number.isNaN` which doesn't attempt to coerce the value.

[code]

[2018-03-30 14:29] Undistraction opened #478 "RA.EnsureNumber, RA.EnsureString, RA.EnsureBoolean"
How about some functions for coercing values if they aren't already that type.

[code]

[2018-03-30 15:15] guillaumearm commented on #478
👍

I would add one for deal with arrays :
[code]

[2018-03-30 15:25] Undistraction commented on #478
We already have `ensureArray` for exactly that.

[2018-03-30 15:37] guillaumearm commented on #478
oops, I had completely forgotten this one. It's stupid because I have made a PR for it 😆

ok, so maybe we would want to keep the same naming conventions here : `ensureString` and `ensureNumber` ?

[2018-03-30 16:42] Undistraction commented on #478
That would make sense.

[2018-03-30 17:43] Undistraction opened #479 "RA.applyCompose, RA.applyPipe"
Compose an array of functions:

[code]

[2018-03-30 23:57] guillaumearm commented on #478
anyway, `ensureBoolean` is not valuable because we could use `Boolean` directly :
[code]

[2018-03-30 23:58] guillaumearm commented on #479
Nice idea, I like it 😃.

How about a `applyPipe` function ?

[2018-03-31 04:22] char0n opened #480 "Align description and keywords in package.json with README.md"

[2018-03-31 08:47] Undistraction commented on #478
@guillaumearm I'd argue that it would still make sense for consistency - we wrap `Number.isNan` for `isNaN` for example.

[2018-03-31 10:47] Undistraction opened #481 "RA.isMatch / RA.isNotMatch"
Ramda offers 'match', but how about we offer an alias of `isMatch` and its complement `isNotMatch`? That would feel a little more consistent with our other predicates.

[2018-03-31 11:08] Undistraction opened #482 "divideNum"
Divides two numbers. Equivalent to `b / a`.

**Preferred implementation**
[code]
`flip` and `divide` functions are already part of [ramda](https://ramdajs.com/docs).

If the person that is implementing this function comes up with the better name for the function, all suggestions are welcome.

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `d

[2018-03-31 11:38] guillaumearm commented on #482
+1 for divideBy

But multiply is commutative, why do you want to flip it ?

[2018-03-31 11:46] Undistraction commented on #482
@guillaumearm Of course. I meant `subtract` not `multiply` which isn't commutative.

[2018-03-31 11:48] Undistraction opened #483 "subtractNum"
Subtracts its first argument from its second argument.

**Preferred implementation**
[code]
`flip` and `subtract` functions are already part of [ramda](https://ramdajs.com/docs).

If the person that is implementing this function comes up with the better name for the function, all suggestions are welcome.

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template

[2018-04-01 12:48] guillaumearm opened #484 "Missing RA favicon in documentation"
I don't know if it's normal or not, but I have no RA favicon in the documentation.

![image](https://user-images.githubusercontent.com/16897658/38173262-826a8a08-35bb-11e8-89ed-c8f8aa315b1a.png)

[2018-04-01 20:49] Undistraction opened #485 "RA.move"
Get a new list with an item's index changed.

[code]

[REPL](http://ramdajs.com/repl/#?const%20moveItem%20%3D%20curry%28%0A%20%20%28oldIdx%2C%20newIdx%2C%20list%29%20%3D%3E%20compose%28%0A%20%20%20%20%20%20insert%28%0A%20%20%20%20%20%20%20%20newIdx%2C%0A%20%20%20%20%20%20%20%20nth%28oldIdx%2C%20list%29%0A%20%20%20%20%20%20%29%2C%0A%20%20%20%20%20%20remove%28%0A%20%20%20%20%20%20%20%20oldIdx%2C%0A%

[2018-04-03 08:19] Undistraction commented on #444
I've updated names. Are we happy with these? Think I will work on these next if so.

[2018-04-05 09:16] Undistraction opened #487 "R.condOrValue"
A version of `R.cond` where the original value is returned as the default (instead of `undefined`)

[code]

[REPL](http://ramdajs.com/repl/?v=0.25.0#?const%20condOrValue%20%3D%20curry%28%28a%2C%20v%29%20%3D%3E%20%7B%0A%20%20const%20aWithDefault%20%3D%20append%28%5BT%2C%20always%28v%29%5D%2C%20a%29%0A%20%20return%20cond%28aWithDefault%29%28v%29%0A%7D%29%0A%0Aconst%20f%20%3D%20condOrValue%28%5B%0A%2

[2018-04-05 09:57] Undistraction opened #488 "R.nthOr"
Ramda offers a `R.propOr`, but nothing for dealing with indexes:

[code]

[REPL](http://ramdajs.com/repl/#?const%20nthOr%20%3D%20curry%28%28defaultValue%2C%20n%2C%20a%29%20%3D%3E%20defaultTo%28defaultValue%2C%20nth%28n%2C%20a%29%29%29%0A%0Aconst%20a%20%3D%20%5B1%2C2%2C3%5D%0A%0Aconst%20nthOrX%20%3D%20nthOr%28%27x%27%29%0A%0AnthOrX%280%2C%20a%29%20%2F%2F%20%3D%3E%201%0AnthOrX%281%2C%20a%29%20%2F%2F

[2018-04-07 19:52] char0n commented on #484
Yeah that's because we don't have icon ;]

We need to create our or branding. My colleague @patricksmms could lend us a hand. I've been using modification of Ramdas logo as you can [here](https://www.linkedin.com/pulse/ramda-adjunct-vladim%C3%ADr-gorej/) but it is not correct because of the image licensing issues.

[2018-04-08 18:56] Undistraction opened #490 "RA.replaceToken, RA.replaceTokens"
Here are a set of functions I find very useful. I think they would make a great addition to the lib. I already have tests written.

[code]

Note: `condDefault` is just `R.cond` with  a default of `[R.T, R.identity]` (See #487)

[code]

Obviously there is the possibility of exposing the token generation as well.

[2018-04-08 19:32] char0n commented on #468
Yep already needed this one ;]

[2018-04-08 19:33] char0n commented on #472
PR still pending...

[2018-04-08 19:37] char0n commented on #469
@guillaumearm I am for it if you want to work on it.

Do you want me to create this repo under `github.com/char0n`, or I just did not understand it properly ?

[2018-04-08 19:53] char0n commented on #478
I am having mixed feeling about those. It seems like unnecessary aliasing. Using `String`, `Number` or `Boolean` should be sufficient. These functions are idempotent, while `R.of` function is not. And that is why `ensureArray` exists.

[code]

[2018-04-08 22:18] Undistraction commented on #478
I think part of this was based on my misuse of R.toString which can play havoc if you run a string through it - actually I should have been using `String` in which case it would indeed have been idempotent.

[2018-04-08 22:18] #478 closed

[2018-04-09 13:10] GingerPlusPlus commented on #481
`isMatch` sounds like [`R.test`](http://ramdajs.com/docs/#test).

[2018-04-09 13:30] GingerPlusPlus commented on #400
What do you mean?

There are [typings](https://github.com/char0n/ramda-adjunct/pull/418/files#diff-b739f95ace6bbf2f0fd5e8cf1dab97d8). `@sig` in JSDoc is also present.

That's what it does.

Is your issue with the fact that they behave differently than native functions or official polyfills in some edge cases?

[2018-04-10 11:25] guillaumearm commented on #469
In fact, I can create the repo under `github.com/guillaumearm`.

I would explore to code my own eslint plugin and `eslint-plugin-ramda-adjunct` seems to be a nice playground for doing that.

Anyway, I'll try to take some time to make a **v0.1**
Stay tuned.

[2018-04-11 18:59] char0n commented on #481
Match is not a predicate because it returns `String` or `Undefined`. So I don't consider it a predicate. Other thing is that we already stipulated in past that we don't want to be in business of aliasing.

[2018-04-11 19:11] char0n commented on #485
`R.move` make sense. There seems to be a usecases for it https://www.npmjs.com/package/array-move

[2018-04-11 19:12] Undistraction commented on #481
Sorry. I meant using `R.test`, not `R.match`, but I can see that calling it 'RA.isMatch` in that case is confusing.

I do feel like a negation of `test` would be useful (that is why I first opened the issue) - it feels wrong that we offer so many predicates, but not a flexible one for regexp, and my OCD kicks in when I use `test` alongside a set of `is...` predicates.

[2018-04-11 19:20] char0n commented on #481
[code]
I get you, but people are already used to `test` nomenclature when dealing with regex. `test` in my mind is too a non predicate. Observe..

[code]

So I consider `test` a factory for predicate creation not a predicate it self.

[2018-04-12 20:03] #393 closed

[2018-04-15 08:20] Undistraction opened #495 "RA.hasIndex"
Does a list have a given index?

[code]

[2018-04-15 15:45] GingerPlusPlus commented on #400
I analyzed the MDN's polyfills and improved my ponyfill to handle 2 edge cases which, unlike MDN's and native methods, were throwing an error.

Now the only differences I'm aware of occur when you pass wrong type.

Note, Github didn't add those 2 commits to the (closed) pull request.

[2018-04-15 16:59] Undistraction opened #496 "RA.filterKeys"
[code]
[REPL](http://ramdajs.com/repl/#?const%20o%20%3D%20%7B%0A%20%20a%3A%20%27alpha%27%2C%0A%20%20b%3A%20%27bravo%27%2C%0A%20%20c%3A%20%27alpha%27%2C%0A%20%20d%3A%20%27charlie%27%2C%0A%20%20e%3A%20%27delta%27%2C%0A%20%20f%3A%20%27alpha%27%0A%7D%0A%0Aconst%20reduceObjIndexed%20%3D%20curry%28%28reducer%2C%20acc%2C%20value%29%20%3D%3E%0A%20%20compose%28reduce%28reducer%2C%20acc%29%2C%20toPairs%29%2

[2018-04-15 17:02] Undistraction commented on #481
OK. I understand what you are saying. Yes it is a factory.

Do you see any place for a negation of `test`? If not I'll close.

[2018-04-15 17:33] Undistraction commented on #349
@guillaumearm Just got snagged by this exact issue using an `unless`.  I think `overWhen` and `overUnless` would be nice additions.

[2018-04-20 07:38] Andarist commented on #456
@quangv You are not supposed to be able to import default from RA, it's a namespace library and `import * as RA` is correct for this use case.

[2018-04-22 09:53] char0n commented on #456
Yes the current behavior `* as RA` is due to the tree shaking. We can add additional mechanism that supports `import RA from 'ramda-adjunct'` but now we don't support. I'll fix the documentation to reflect that.

[2018-04-22 10:03] char0n commented on #349
Before we move forward with implementation let's consider the naming first: https://github.com/ramda/ramda/issues/65

`when` vs `by`

[2018-04-22 10:25] char0n commented on #349
Right, sorry. What about the `when` vs `if`. Do we have some semantics for these two words ?

[2018-04-22 10:44] Undistraction commented on #349
Ramda only uses `when` because `if` is native and carries this over for composite functions – `R.splitWhen` would appear to be the precedent – so I think:
- overWhen
- overUnless

Do we see a usecase for `overIfElse`?

[2018-04-22 10:47] GingerPlusPlus commented on #349
`overIfElse`? Just `R.over(someLens, R.ifElse(t, f))`

[2018-04-22 13:26] Undistraction commented on #392
@guillaumearm I would put them both in a single PR

[2018-04-22 13:37] Undistraction commented on #472
Linking directly to PR so we can track: https://github.com/marionebl/commitlint/pull/312

[2018-04-22 13:39] Undistraction commented on #444
@char0n Are you happy for me to go ahead with these?

[2018-04-22 14:53] guillaumearm opened #508 "documentation: display the implementation when it only has one line"
Like in [RA.mapIndexed](https://char0n.github.io/ramda-adjunct/2.6.0/RA.html#.mapIndexed) and [RA.reduceIndexed](https://char0n.github.io/ramda-adjunct/2.6.0/RA.html#.reduceIndexed), I think it's can be useful to display the implementation of all one line functions.

Just by adding in documentation :
[code]

[2018-04-22 15:11] Undistraction commented on #508
This is a nice idea.

[2018-04-22 15:32] guillaumearm commented on #495
`R.has` do the work, but have a different behavior :
[code]

**note**:
`R.has(0, [undefined])` in consistent with `R.has('a', { a: undefined })`

We should think about adding a `RA.hasValue` (any idea for the name ?).
It's like `R.has` but check if value is nil (using `R.isNil`).

[2018-04-22 15:41] Undistraction commented on #495
@guillaumearm OK. I'm going to close this as it is effectively covered by `R.has`.

Maybe `RA.hasDefined`? I think you should open a new issue for it so we can discuss.

[2018-04-22 15:41] #495 closed

[2018-04-22 15:42] guillaumearm commented on #496
I like the idea that user can filter keys using values, but I think filtering keys by keys have sense too.
What about an arity 2 predicate ? `predicate(value, key)`

Anyway, this issue should definitely had the `feature`label.

[2018-04-22 15:45] guillaumearm commented on #482
You means #483

[2018-04-22 15:47] guillaumearm commented on #483
@char0n: are you ok to put a `feature` label on  this and #482 ?
This functions are very useful (even in real life use cases)

[2018-04-22 15:51] guillaumearm commented on #487
Nice idea, I so much long time declined to use `R.cond ` when I need `R.T`.

I think `R.condDefault` will be useful for me.

[2018-04-22 15:52] guillaumearm commented on #480
Note: Think to impact github keywords too.

[2018-04-22 16:01] Undistraction commented on #487
@char0n You OK to elevate this to a feature?

[2018-04-22 16:16] char0n commented on #349
Ok agreed then. It's `overWhen` and `overUnless`. Will make a nice addition to our lens utilities.

I'd go for a following signature instead of one proposed [here](https://github.com/char0n/ramda-adjunct/issues/349#issue-296024862). I'd like to keep the functional interface as close as possible with `over`.
[code]

[2018-04-22 16:35] guillaumearm opened #511 "RA.hasDefined"
like said in #495

[2018-04-22 16:41] guillaumearm commented on #349
I disagree because I think all `*When` function should take predicate first.
So we can say `R.over` is equivalent to `RA.overWhen(R.T)`

`RA.overWhen` can be considered like a `over` factory

[2018-04-22 17:10] char0n commented on #349
Right, good point @guillaumearm I agree with your disagreement ;]

[2018-04-23 10:37] Andarist commented on #456
@guillaumearm `ramda` does not export default, so you are already consistent 😉

[2018-04-23 10:54] guillaumearm commented on #456
@Andarist : I mean it's work when you import ramda as default.

[2018-04-23 11:02] Andarist commented on #456
It really shouldnt until ur setup is in some way not-standard.

[2018-04-23 11:02] Undistraction commented on #456
@Andarist The problem is that someone used to using Ramda like this:

[code]

Will expect Ramda Adjunct to function in the same way. However using ES6 imports the following will not work:

[code]

[2018-04-23 11:06] Andarist commented on #456
Since `ramda@0.25` it's not possible to import ramda as default, see [upgrade guide](https://github.com/ramda/ramda/issues/2319)

[2018-04-23 11:10] Undistraction commented on #456
@Andarist Thanks for the link. In that case, as long as we aren't doing it anywhere in the docs or examples, I think we can safely close this issue.

[2018-04-23 11:25] guillaumearm commented on #456
Like @Andarist said :

So now that consistency issues between `ramda` and `ramda-adjunct` are fixed, it's ok to me.

[2018-04-23 11:25] #456 closed

[2018-04-23 20:24] #370 closed

[2018-04-25 08:59] guillaumearm opened #514 "notAllIdentical"
in #513, we talked about complement of `allIdentical`.

**usage**:
[code]

[2018-04-25 09:03] guillaumearm opened #515 "allUnique / notAllUnique"
in #513, we talked about `allUnique` and `notAllUnique`.

**usage**:
[code]

[2018-04-25 09:09] guillaumearm opened #516 "copyKeys"
**Is your feature request related to a problem? Please describe.**
Copy properties in the same object.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

--

**Additional context**

**Note**: `copyKeys` usage is based on [RA.renameKeys](https://char0n.github.io/ramda-adjunct/2.7.0/RA.html#.renameKeys), same thing for `copyKeysWith`

[2018-04-25 09:33] guillaumearm opened #517 "lensCopy"
What about a function that take **2 lenses** and some **data**, and copy **data structure focused by lens1** to **data structure focused by lens2** ?

In fact, it's like `copyKeys` (#516), but with lenses.
For example, it allows to copy deep values.

#### Example:
[code]

#### Implementation:
[code]

--------------------------

Based on #349, we can imagine adding `lensCopyWhen` and `lensCopyUnles

[2018-04-25 09:38] guillaumearm commented on #488
@Undistraction: Can we set milestone to **v2.8.0** for this issue ?

[2018-04-25 15:18] guillaumearm opened #518 "Is there a function to do strict equality check ?"
I asked myself when I wrote https://github.com/char0n/ramda-adjunct/pull/513#issuecomment-384323292 :

Because `R.equals` performs deep equality checks, is there a function to do strict equality in `RA` (or directly `Ramda`) ?

[2018-04-26 07:36] guillaumearm commented on #518
And what about adding a `strictEquals` function in `RA`  ?

[2018-04-26 07:38] guillaumearm commented on #508
If @char0n is ok with that, I will go for it soon.

[2018-04-26 11:09] char0n commented on #508
@guillaumearm good idea. But it create the problem of disconnecting when we document and what is the implementation. Can we somehow automate it via jsdoc and our docdash theme ?

[2018-04-26 11:11] char0n commented on #518
I would introduce isEqualWith which consumes the customizer and after then I'd derive something like `strictEquals` from it.

[2018-04-26 11:16] guillaumearm commented on #518
there is already [R.eqBy](http://ramdajs.com/docs/#eqBy) for this.

[2018-04-26 17:57] Undistraction opened #521 "R.allUnique / R.allUniq"
See discussion on #513 related to `RA.allEqual`

Example:
[code]

[2018-04-26 17:57] #521 closed

[2018-04-26 20:07] char0n commented on #518
It's different in implementation that lodash. Check the source: https://github.com/ramda/ramda/blob/master/source/eqBy.js

I think we can introduce `eqStrict` which will be eqvivalent to `===`, but we cannot use  `eqBy` for it.

[2018-04-26 21:48] Undistraction commented on #518
I would vote we call it `equalsStrict` as this is much easier to remember. I think when we are talking about function libs with so many different functions I'd always favour verbosity. It always bugs the hell out of me when I use `R.T`.

[2018-04-28 09:30] guillaumearm opened #524 "isNonEmpty"
Because we have [RA.isNonEmptyString](https://char0n.github.io/ramda-adjunct/2.7.0/RA.html#.isNonEmptyString) and [RA.isNonEmptyArray](https://char0n.github.io/ramda-adjunct/2.7.0/RA.html#.isNonEmptyArray).

What about a `RA.isNonEmpty` function ?

It is just the complement of [R.isEmpty](http://ramdajs.com/docs/#isEmpty).
It works with strings, arrays and objects according to [R.isEmpty documenta

[2018-04-28 09:34] guillaumearm opened #525 "allEqualTo"
We talked about `allEqualTo` in PR #513

Implementation :
[code]

[2018-04-28 09:49] guillaumearm opened #526 "using ZenHub"
I think it's can be good to use [ZenHub](https://www.zenhub.com/) in order to manage better triage for issues.

![image](https://user-images.githubusercontent.com/16897658/39395027-4f75c594-4ad9-11e8-8f70-13038ff4aa53.png)

There is nice features like dependencies :
![image](https://user-images.githubusercontent.com/16897658/39395031-69c46112-4ad9-11e8-8b0d-e920962ecef2.png)

You can choose, if an

[2018-04-28 11:29] char0n commented on #518
Missed it. We have http://ramdajs.com/docs/#identical so we have everything we need for further compositions

[2018-04-28 11:52] #518 closed

[2018-04-28 11:53] Undistraction commented on #526
Looks great. Would definitely help.

[2018-04-28 11:54] Undistraction commented on #524
Makes sense for completeness.

[2018-04-28 11:55] Undistraction commented on #525
It has my vote.

[2018-04-28 15:57] Undistraction opened #527 "RA.compareLength"
While working on #444 I extracted a `compareLength` function. Although it is currently internal, I wonder if it makes sense to expose it. The question is, does it offer any potential utility *that we aren't already providing*, given that we will offer:

- `isLengthGt`
- `isLengthLt`
- `isLengthGte`
- `isLengthLte`
- `isLengthEqual`
- `isLengthNotEqual`

Are there any other reasonable uses for `com

[2018-04-30 05:41] char0n commented on #527
I'd keep it internal for now. But I'd change the signature for following and remove the flip(comparator) from it. Flipping the comparator should be external phactor.
[code]

[2018-04-30 05:52] char0n commented on #524
We already have https://char0n.github.io/ramda-adjunct/2.7.0/isNotEmpty.js.html#line3

[2018-04-30 07:27] Undistraction opened #528 "RA.lengthInRange"
See #527 and #523

[code]

[2018-04-30 08:45] guillaumearm commented on #524
Woops, that's true, sorry.

[2018-04-30 08:45] #524 closed

[2018-05-01 14:00] Undistraction commented on #490
@char0n @guillaumearm I'd love to get this added. I think these are very useful functions. How do you feel about this?

[2018-05-01 18:46] Undistraction commented on #515
Voting over `allUnique` and `notAllUnique` vs `allUniq` and `notAllUniq`.

I choose `allUnique` and `notAllUnique`

[2018-05-01 18:55] Undistraction opened #534 "RA.dispatchProps"
Run through a list of props on an object until one is not undefined.

[code]

[2018-05-01 19:25] char0n commented on #490
Feels like you attempting to create a simple templating language. I'm for having something like https://lodash.com/docs/4.17.10#template. But this have to be thought really carefully.

[2018-05-01 19:27] char0n commented on #508
Never had a similiar usecase. The person handling this issue will have to do his homework ;]

[2018-05-02 07:35] Undistraction commented on #477
I don't think the usecase is just limited to processing forms. For example I'm working on a lib which parses CSS. All values are strings, but I need to decide if a value is numeric so I can process it it differently.

[2018-05-02 07:42] Undistraction commented on #490
Well there are a lot of features in lodash's `template` that I think are way outside what we should offer - loading templates from URLs etc. The scope for this is simply replacing values in a template string. I'm definitely up for expanding it a little though. It currently allows:

- single values to be replaced,
- arrays of values to be used to replace numeric tokens
- objects of values to be use

[2018-05-02 10:05] char0n commented on #479
Legitimate

[2018-05-07 12:54] Undistraction commented on #414
@char0n [Here](https://stackoverflow.com/questions/49160752/what-does-webpack-4-expect-from-a-package-with-sideeffects-false) is a very comprehensive answer to a question I posted on SO by one of the Webpack team. I think we should be good to add the flag for the next release.  I suggest you and @guillaumearm have a read and see if you agree.

[2018-05-08 18:57] char0n opened #538 "Change {Boolean} to {boolean} in jsdoc"

[2018-05-08 19:34] #538 closed

[2018-05-09 20:55] Undistraction commented on #414
Well after all this, it looks like this was done way back in November in #223 so I'm going to close this out.

[2018-05-09 20:55] #414 closed

[2018-05-09 21:07] guillaumearm opened #542 "Use WIP github app"
I just falled on https://github.com/apps/wip

@char0n: are you ok to add it on `ramda-adjunct` repo ?

[2018-05-10 05:37] #472 closed

[2018-05-10 06:07] char0n opened #544 "Fix jsdoc in @see in concatAll"
Should use comma separated list.

[2018-05-10 06:30] char0n commented on #542
@guillaumearm go for it. Nice feature!

[2018-05-10 08:33] #485 closed

[2018-05-11 14:31] char0n opened #545 "pathNotSatisfy"
Complement of http://ramdajs.com/docs/#pathSatisfies

[2018-05-13 07:44] char0n opened #549 "Change `when` wording to `given` in tests"
`when` is more related to user actions (in gherkin context),  whether `given` relates more to fixtures and predefined state.

[2018-05-13 07:54] char0n opened #550 "Tests: using chai assertions"
Sometimes we use

[code]
somethimes
[code]
Let's make this consistent to

[code]

[2018-05-13 18:25] char0n opened #553 "String template literals vs strings"
In some tests we have string literals used without interpolation. We should make those tests consistent and look for a eslint rule to enforce the consistency.

[2018-05-13 19:00] #444 closed

[2018-05-13 20:08] char0n opened #554 "RA.move is missing 3rd param"
[code]

[2018-05-13 20:10] char0n opened #555 "Add `utilities` keyword in package.json"

[2018-05-14 21:50] Undistraction commented on #514
Waiting for #513

[2018-05-14 21:52] Undistraction opened #556 "RA.dispatchPaths"
See dispatchProps #534

[2018-05-16 19:27] #554 closed

[2018-05-16 19:28] #553 closed, assigned to Undistraction

[2018-05-16 19:28] #544 closed

[2018-05-22 05:15] #555 closed

[2018-05-26 19:37] char0n commented on #526
Doesn't github projects solve the same thing ?

[2018-05-27 01:16] guillaumearm commented on #526
Yes it is, but ZenHub have much more poweful features.

[2018-05-27 05:37] char0n commented on #526
How do we turn it on ?

[2018-05-27 09:38] guillaumearm commented on #526
Just install the chrome ZenHub extension.

Then, this will add a "ZenHub" tab in GitHub.

[2018-05-28 10:10] Undistraction opened #576 "Find An Alternative To Shields"
Some or many of the badges on our README fail to load due to ongoing lack of capacity with Shields. See: https://github.com/badges/shields/issues/1568#issuecomment-373249602

We should look at using a different service or self hosting the badges.

[2018-05-30 20:44] char0n opened #578 "allIdentical"
Same as `RA.allEqual` but using `R.identical` as a comparator.

[2018-05-30 20:55] char0n commented on #517
I like this.

[2018-05-31 17:35] char0n commented on #576
Do we know of any alternatives ?

[2018-05-31 22:47] Undistraction commented on #576
The only option I can see is to self-host.

[2018-06-04 16:51] Undistraction opened #587 "RA.clampPositive, RA.clampNegative"
[code]

[2018-06-05 07:43] char0n commented on #587
Can you give examples with real values ?

[2018-06-05 17:43] Undistraction opened #591 "Improve Github Description"
Currently:

Recommended:

@char0n (I don't have permission to update the description)

[2018-06-05 17:47] Undistraction opened #592 "New Logo"
IMHO the Ramda Logo is terrible and we shouldn't feel the need to use it. I've been playing around with a few ideas and I really like this one. It about as simple as possible which is to my taste but might not be to yours @char0n. Obviously we can try some colours if you like it. No problem if not.

![ra_logo-01](https://user-images.githubusercontent.com/161489/40993205-da49e012-68f0-11e8-9458-269

[2018-06-05 18:23] guillaumearm commented on #592
Nice work.
I like very much the logo and his simplicity, but it does not remind me ramda.
Is it ok if the logo doesn't make think of ramda ?

@char0n: What did you expect from the new ramda-adjunct logo ? What is your feeling ? :)

[2018-06-05 18:31] Undistraction commented on #592
@guillaumearm Perhaps we could use Ramda's purple as a nod to Ramda.

[2018-06-05 20:56] guillaumearm commented on #592
Completely agreed, very good idea. Why not the 'R' symbol in purple and the '+' in heavy black ?

[2018-06-06 05:12] char0n commented on #592
Nice work. I was thinking about fact that we are using RA abbreviation. So what about using the egyptian symbol for the eye of ra ? https://i.pinimg.com/736x/cf/ea/96/cfea96070bcec47b0de57690223dd18b--egyptian-eye-egyptian-symbols.jpg

[2018-06-06 05:13] char0n commented on #591
I will do it and move the original sentence to readme.

[2018-06-06 19:53] Undistraction commented on #592
@char0n Again this is very much a matter of taste, but tbh I don't think that really fits with the feel of the library - the logo should represent utility and simplicity. I also think my idea incorporate the idea of functions locking together and RA and R locking together.

[2018-06-07 12:04] char0n opened #597 "Typo in RELEASE.md"
git push origim master -> git push origin master

[2018-06-07 20:30] char0n commented on #592
Yeah, you're right. I just tried to propose my RA stuff anyway ;]

Let's go for your proposal. It's original work so we won't have problems with license ;]

So the actions points:
 - let's move this image into readme.md
 - let's create a favicon.ico

[2018-06-15 11:48] char0n opened #609 "uniqueId"
The same behavior as lodash

[2018-06-22 20:07] char0n opened #616 "liftF - invalid link in description"

[2018-06-23 08:33] #616 closed

[2018-06-23 08:35] char0n opened #622 "Synchronize package keywords with repo keywords"

[2018-06-23 20:05] #591 closed

[2018-06-24 14:15] char0n opened #624 "Make all tests consistent + support for Ramda placeholder"
Currently our support for ramda placeholder is limited. Almost all binary functions are lacking the support for it. We need to continually provide full support for it. Every binary function needs to have the following test in it's test suite
[code]
All other functions needs to have following curring test which tests the combination of params invocation:
[code]

As part of this, we should also refa

[2018-06-24 14:54] char0n commented on #609
@Undistraction, @guillaumearm is this something that should be part of library ? I have a ton of usecases for it, but this function will not be referentially transparent, which means it's not going to be pure (although it will not have side effects). What do you think ? The implementation (without supporting prefixes) is quite primitive.

[code]

[2018-06-24 15:40] char0n commented on #622
Synchronized.

[2018-06-24 15:40] #622 closed

[2018-06-24 19:43] Undistraction commented on #609
I'm 100% for utility over purity for things like this. I'd prefer a well tested function that is part of a trusted lib, however there are a few others we have come across that are useful but not pure - `throwError` and `log` - that we haven't included, so how about including them under an `impure` namespace?

[2018-06-25 05:59] char0n commented on #484
Icon can now  be made from https://github.com/char0n/ramda-adjunct/issues/592

[2018-06-26 22:57] char0n commented on #609
@Undistraction I still think we can do this in pure and referentially transparent way. For example `uniqueId` usecase can be rewritten into pure way using [Reader monad](https://monet.github.io/monet.js/#reader). The same can be applied for `log` function.

[code]
Now we have `RA.weaveLazy` to weave the config into the pure  `uniqueId` function.
[code]
Now we have 2 versions of `uniqueId`, one pur

[2018-06-27 09:53] Undistraction commented on #592
Sorry. I've been very short of time recently. This is on my radar and I'll get this done soon.

[2018-06-27 20:05] char0n commented on #592
No problem. I think I can use jpeg attached here to do magic.

[2018-06-28 12:20] guillaumearm opened #632 "High level typings"
In my typescript codebase, I actually have some generic typings to make code more clear.

![image](https://user-images.githubusercontent.com/16897658/42033653-d901dcd8-7add-11e8-889f-9f460df0ba8c.png)

Here is an example of how it's beautiful (IMHO):

![image](https://user-images.githubusercontent.com/16897658/42033705-0b7f4182-7ade-11e8-99bf-47a5ef1f4e4d.png)

Please note `Section` is a domain ob

[2018-06-28 12:32] guillaumearm opened #633 "Add RA.constantComparator"
I have the use case to sort things statically, I don't know how to explain with words, so here is some code :

[code]

example usage :
[code]

[2018-06-28 12:38] guillaumearm opened #634 "Psi combinator"
Please see #250 and http://hackage.haskell.org/package/base-4.10.1.0/docs/Data-Function.html#v:on

implementation idea :
[code]

[2018-07-07 05:26] char0n opened #641 "maintain list of articles mentioning RA"
https://medium.com/@kyletilman/ramda-r-adjust-b69a575274fa
https://www.derrickbeining.com/2018/07/04/refactoring-javascript-imperative-to-functional/
http://jessewarden.com/2018/06/functional-programming-unit-testing-in-node-part-5.html
https://stackoverflow.com/questions/29900130/whats-ramda-equivalent-to-underscore-js-compact

+links to all mine articles

[2018-07-18 06:03] char0n opened #645 "License type"
Chech if our license in actually not bsd 2 clause license

[2018-08-02 07:26] lgy87 opened #653 "renameKeysWith vs renameKeysBy"
i note that the signature of renameKeysWith is `(a -> b) -> {a: *} -> {b: *}`
the first argument is unary，so is it better rename it to `renameKeysBy` according to lodash and ramda?

[2018-08-02 11:43] char0n commented on #653
There was an issue in ramda what is the distinction between the *By and *With. I'll try to find it. Can you pls provide some formalization of the rules if you are aware of it ?

[2018-08-02 12:53] srghma opened #654 "feat: presence or nullIfEmpty"
like presence function in ruby

[code]

[2018-08-02 14:03] lgy87 commented on #653
[code]

as far as i know, all `*with`(except **startsWith**, **endsWith**) and `*By` obey the regularity in lodash.

please correct me if i am wrong.

[2018-08-02 20:01] char0n commented on #654
yeah why not
[code]

[2018-08-04 08:13] char0n commented on #645
It's a 3 clause. I'll reformat it to be full mirror of https://opensource.org/licenses/BSD-3-Clause

The texts are the same, I'll change for bullet points to numberer points so that 3 clauses are more explicit.

[2018-08-04 08:52] char0n commented on #653
Your argumentation seems valid. What we can do to create alias for `renameKeysWith` and call it `renameKeysBy`. Or we can extend the current implementatin and allow a value to be passed inside the function along with the key.

[2018-08-04 09:10] char0n commented on #632
I'm for this. I think that ramda-typings already do that.

[2018-08-04 09:11] char0n commented on #641
If you guys know of any article that was written about RA, mention it here in this issue.

[2018-08-04 09:13] char0n commented on #634
legitimate.

[2018-08-04 09:14] char0n commented on #592
@Undistraction can you provide a source code of the image in this issue ?

[2018-08-05 10:08] #645 closed

[2018-08-05 11:34] lgy87 commented on #653
I prefer the first solution to the second. but if `renameKeysWith`(take a binary callback) is also need, there will be a broken update. 😢

[2018-08-06 07:05] char0n commented on #653
You're right. Second solution would be a breaking change. Callback would consume value as the first argument and key as second. I tend to like the second option, which extend the functionality of the function. @Undistraction, @guillaumearm, @srghma, @rockymadden opinions on this ?

[2018-08-07 13:20] char0n opened #659 "thunkify"
Creating an util that does what this does: https://github.com/tj/node-thunkify

[2018-08-09 14:49] char0n opened #661 "objectify"
https://github.com/tc39/proposal-object-values-entries/issues/15

[2018-08-13 18:52] rockymadden commented on #653
First path with a caveat:

- A new binary version of `renameKeysWith` is made a la something like https://ramdajs.com/docs/#mapObjIndexed
- `renameKeysWith` is implemented with the above function, whatever it is called. It essentially is implemented ignoring the value parameter in its implementation.
- `renameKeysWith` has an alias/deprecation to `renameKeysBy` and signature remains the same.

[2018-08-17 09:06] trustedtomato opened #667 "padEnd, repeatStr"
Hey! Firstly, thanks for all the effort you put into the library!
I've got some functions which might be suitable for the library too. I would be happy to do a PR!

---

`padEnd` & friends:
[code]

---

`repeatStr`:
[code]

[2018-08-17 22:26] char0n commented on #667
Hi @trustedtomato, no problem we hope it helps people build better software.

Regarding your feature set, there is already an issue for it #400  and a PR #418. We've discontinued the efforts there. You can start fresh here from the start. I'd suggest starting with this: https://github.com/char0n/ramda-adjunct/pull/418

https://github.com/char0n/ramda-adjunct/issues/400#issuecomment-368325029

Why

[2018-09-04 19:27] guillaumearm opened #676 "Promises stuff"
Hi, lambda bros 🙂

I'm highly motivated to make a collection of promises curried functions like `pmap`, `pfilter`, and so on...
**I'm tired to make for loops in async functions, this is why I'm so motivated.**

I've never been able to find a library proposing curried functions to do that.
The idea is to list all functions we want here.

Interesting link: https://www.fpromises.io/

[2018-09-06 06:17] char0n commented on #676
Hi @guillaumearm, good idea. I've started the work already some time ago here: https://github.com/char0n/ramda-adjunct/issues/35

In addition to that we already have [reduceP](https://char0n.github.io/ramda-adjunct/2.9.0/RA.html#.reduceP) and [reduceRightP](https://char0n.github.io/ramda-adjunct/2.9.0/RA.html#.reduceRightP)

[2018-09-06 08:10] guillaumearm commented on #676
Oh nice 🙂 , so we can considerate this issue as a duplicate ? and add `mapP` and `filterP` to the list ?

[2018-09-06 08:51] char0n opened #679 "dropArgs"
[code]

[2018-09-06 10:10] Undistraction commented on #676
Guys I'm really sorry to have been so absent. I switched from 13 years of freelancing to a full-time job and it's been hard finding time for other things. I should be up-to-speed in the next few weeks and I promise I'll try and carve out some time for this lib.

[2018-09-07 18:55] char0n commented on #676
@guillaumearm I'd create separate issues for every one of your new additions and connect them together.

@Undistraction no worries haven't had much time last 3 months too. Holidays, trying to push new product out, family etc..

[2018-09-07 19:04] char0n commented on #653
@rockymadden thanks make sense to me. We can introduce new `renameObjKeysWith` and `renameObjKeysBy` and let `renameKeysWith` by an alias or `renameObjKeysBy`. What do you think ? //cc @lgy87

[2018-09-08 10:47] #679 closed

[2018-09-08 10:59] lgy87 commented on #653
@char0n Sounds good。

[2018-09-10 17:53] guillaumearm commented on #35
since #676, additional candidates are :

- **mapP**
- **filterP**
- **rejectP**

IMO, we need to talk about parallel and series behavior, isn't ?

[2018-09-18 12:30] honzajavorek opened #689 "Offline docs in Dash"
Thank you for `ramda-adjunct`! There is this macOS app called [Dash](https://kapeli.com/dash), which allows people to have and search various docs offline (e.g. in a train, plane, ... and sometimes it's just faster to look up than the web versions). There's one contributed 3rd party Ramda docset:

<img width="820" alt="screen shot 2018-09-18 at 14 29 06" src="https://user-images.githubusercontent.

[2018-09-18 18:51] char0n commented on #689
I'll look into this.

[2018-09-18 20:15] char0n commented on #689
https://kapeli.com/docsets

[2018-09-18 21:41] honzajavorek commented on #689
Once you have something, let me know. I'll probably contribute `lodash/fp` as it doesn't exists. The official docsets contain Lodash, but it doesn't contain anything from the FP part, so essentially there are functions missing (such as `invokeArgs`) completely and one has to infer the FP functions from normal docs, which is painful.

[2018-10-03 19:55] char0n commented on #487
Yes. This is legit and practical

[2018-10-14 10:22] char0n opened #710 "Remove from npm distribution package"
CONTRIBUTING, CODE_OF_CONDUCT and  GOVERNANCE don't need to be in npm dist.

[2018-10-14 15:32] #710 closed

[2018-10-14 19:35] Undistraction commented on #576
@charOn They actually made an improvement to the way it works which has greatly improved the reliability.

[2018-10-14 20:10] #592 closed

[2018-10-14 20:10] #641 closed

[2018-10-14 20:12] char0n commented on #676
@guillaumearm If you're still motivated then go ahead. But to make naming consistent I'd for for `mapP`, `filterP` and so on...

[2018-10-14 21:18] char0n commented on #653
OK so decided then. I'll start executing this.

[2018-10-14 21:19] char0n commented on #667
These seems to be requested features so I'll start implementing this.

[2018-10-15 11:41] char0n commented on #667
repeatStr is on the way

[2018-10-15 18:01] char0n commented on #676
I guess I'd leave the parallel behaviors to RxJS which I'm already heavily using and RA works with it very well. IMHO RA is not a place for these things.

[2018-10-17 11:32] guillaumearm commented on #525
and what about `anyEqualTo` and `anyIdenticalTo` ?

[2018-10-19 09:32] Undistraction opened #719 "R.headAndTail, R.initAndLast"
[code]

Codepen [here](https://codepen.io/Pedr/pen/MPGQKB?editors=0011).

[2018-10-20 19:45] char0n opened #720 "Mersenne prime numbers"
https://www.mersenne.org/

[2018-10-22 20:04] #578 closed

[2018-10-22 20:29] char0n commented on #676
Sorry if I wasn't clear. I don't mean removing anything. I am saying - let's be careful what we put in. IMHO it make sense to put in  `delayP`, `catchP`, `catchIfP`, `promisify` and `promisifyAll`. They all deal with serial behaviors only. Let's leave parallel flows to libraries like https://www.fpromises.io/ or https://github.com/Reactive-Extensions/RxJS/.

Other thing that I was mentioning are f

[2018-10-22 20:48] char0n commented on #719
Yep, I get what you're trying to do. In current javascript we can do following (in imperative way)
[code]
Anyway It seems like this is specialized version of https://ramdajs.com/docs/#partition. IMHO these functions can be additions but I'm struggling with the names. Having the `and` inside the function name seems strange.

[2018-10-23 21:10] char0n commented on #689
I've done my research on this and know how to do it now. I'll just need to find time to execute it.

[2018-10-25 11:38] vorticalbox opened #724 "isDate/isValidDate returns false when it should be true"
Valid dates are being returned as false.

"ramda": "^0.25.0"
"ramda-adjunct": "^2.10.0"

node 8.12.0 && 9.7.1

[code]

[code]

https://repl.it/@vorticalbox/GoldenrodLuxuriousValue

[2018-10-25 12:49] char0n commented on #724
Thank you for report @vorticalbox. I'll look into this ASAP.

[2018-10-25 21:05] char0n commented on #724
Currently not able to reproduce in any browser - chrome, firefox, edge.

Also this [test](https://github.com/char0n/ramda-adjunct/blob/a3109fc1020c6f4a8686d032cb7d539a230af258/test/isDate.js#L8) is running on node 6,7,8 and 9 successfully and without problems.

Trying to investigate further why it's not working in your case.

[2018-10-25 21:16] char0n commented on #724
Cannot reproduce the issue on node 8.12.0 || 9.7.1. If I use your code and save in file named `test.js` and  run the file with `node test.js` everything is fine.

IMHO I think that the problem my be in REPL itself. `RA.isDate` is using [R.is](https://ramdajs.com/docs/#is) to check for date instances. JavaScript have prototypal nature and concept of realms. For example if you have two tabs in the b

[2018-10-25 21:18] vorticalbox commented on #724
Thanks, the repl.it  I posted has the same issue, also the application I am using it in is in node lts running inside docker.

What's weird is when I just use ramda is function is completely fine.

[2018-10-26 07:20] srghma commented on #724
@char0n https://stackoverflow.com/a/643827/3574379

[code]

[2018-10-26 07:35] char0n commented on #724
Yes exactly, that is what we already do wjth other predicates

On Fri, Oct 26, 2018, 09:20 Sergey Khoma <notifications@github.com> wrote:

[2018-10-28 07:53] char0n commented on #724
Fixes are comming in next couple of days in 2.12.0 release

[2018-10-28 08:09] #525 closed

[2018-10-28 10:30] char0n opened #725 "Use snyk or github alerts instead of nsp"
https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies/
https://snyk.io/

[2018-11-20 14:55] vorticalbox opened #741 "isFloat fails when .00"
When checking for floats if it is .00 it returns false

[code]

[2018-11-20 16:03] char0n commented on #741
You are right that it behaves like this. The problem here that his is supposed to be correct behavior. In JavaScript `1.00` is always coerced to integer. We're using `Number.isInteger` under the hood for `RA.isInteger` to detect if the value is integer and this predicate really returns true for the following cases:
[code]

If you check any other library like lodash, underscore or even native `Numb

[2018-11-20 16:10] vorticalbox commented on #741
Thanks for the quick reply, I am currently using validator as I need the number to be in xx.xx format.

[2018-11-20 19:05] Cheprer opened #742 "sideEffects flag disrupts treeshaking"
Webpack sideEffects doesn't compile properly in latest version of Webpack `4.25.1`.

Removing it fixes this issue.

[2018-11-20 19:12] Cheprer commented on #742
In case you want to keep it, you need it rewrite default config of webpack, which is not nice and probably would raise more issues.

In case you have old ramda-adjunct and you have this issue you can't migrate to newer version here is a fix for your webpack-config:
[code]

[2018-11-20 20:40] char0n commented on #742
https://github.com/stereobooster/package.json#sideeffects

[2018-11-20 21:01] char0n commented on #742
Let me reproduce it first on webpack@4.25.1. What are the indicators that the bundle didn't compile properly ? I'd like to find (understand) the original problem in the code before I'll remove the flag

[2018-11-20 21:05] char0n commented on #741
Np

[2018-11-20 21:05] #741 closed

[2018-11-20 22:30] char0n commented on #742
Haven't been able to reproduce yet. Here is the gist with POC: https://gist.github.com/char0n/ae120af01bf17065c171494545d76a39

I'm running following command to build the bundle `./node_modules/.bin/webpack  --config webpack.config.js --verbose`.

I'm not seeing anything unusal in RA functions executions.

[2018-11-21 09:59] Cheprer commented on #742
If I understand correctly the `sideEffects` flag does not compile the functions which are not exported. So as long as there is a function which is not exported properly it could be missing in a build. Unfortunately I've checked the pathNotEq file where I noticed the issue and everything seems ok. I can investigate more later on in upcoming days.

[2018-11-22 13:25] Undistraction opened #745 "RA doesn't include latest version of R in peerDependencies range"
The README says:

But in the package.json
[code]

The current version of Ramda is `0.26.0`, so updating to the latest version of Ramda in a project using Ramda Adjunct results in:

[2018-11-22 16:11] char0n commented on #745
Yes and that is correct. We haven't tested newest version of ramda@0.26.0 yet and there is pending PR for it here https://github.com/char0n/ramda-adjunct/pull/738. All our tests are failing, so I suppose something must have changed and we should compensate.

[2018-11-22 16:12] char0n commented on #745
If you have time feel free to take over this one.

[2018-11-22 16:13] Undistraction commented on #745
OK. But the README Is incorrect then. It should have an upper limit on the supported range:

[2018-11-22 16:15] char0n commented on #745
Agree it's incorrect. I forgot to translate the peerDeps rules there.

[2018-11-24 06:49] char0n opened #746 "tests for node10 + node11; drop node 6, node 7 tests"

[2018-11-24 11:16] petrjaros commented on #742
Here is an example where `pathNotEq` always returns false: https://gist.github.com/petrjaros/9d489bcfd05a3ca1225e568ee77accd1.
The problem only occurs when `monet@0.8.10` is used. The latest version of `monet` doesn't cause problems and everything works as expected.
So the problem was probably not caused by `ramda-adjunct`

[2018-11-25 09:18] char0n commented on #742
@petrjaros thanks for additional research.

@Cheprer can you pls find time to confirm what @petrjaros sais about monet <-> ramda-adjunct combination. I remember we had this problem before with monet.

Still I'm going to investigate `sideEffects` and how it really works in more details and decide if we're going to remove that or not.

[2018-11-25 10:17] char0n commented on #742
@Cheprer yes your understanding of this is correct. Unfortunately we don't have any effect-full modules in ramda-adjunct. Every module contains some evaluation and then the results of evaluations are exported. We have none module that contains side effects and is only imported to do some polyfilling or whatever.

There is also a nicer explanation from webpack documentation about this:
[code]

To a

[2018-11-25 10:54] char0n opened #747 "isSafeInteger"
Determines whether the provided value is a number that is a safe integer.

Complete description of what safe integer is, can be found here on [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isSafeInteger). The linked page also contains polyfill and preferred implementation of the `isSafeInteger` function. Modern javascript already contains function `Nu

[2018-11-25 11:03] char0n opened #748 "Numbers: ceil, floor, trunc, sign"

[2018-11-25 11:09] char0n commented on #748
@Undistraction, @guillaumearm, @srghma, @rockymadden we need some composable Number operator functions.

It's very easy to get them from Math in JavaScript.

[code]

It is worth adding them to RA ? IMHO yes, just because of placeholder (`__`) support. We'll use functions from `Math` if available and fallback to ponyfills if functions not available (trunc which was added in ES6)

[2018-11-25 21:23] #745 closed, assigned to char0n

[2018-11-25 21:31] char0n commented on #659
No need for this. Ramda already implements this: https://ramdajs.com/docs/#thunkify

[2018-11-25 21:31] #659 closed

[2018-11-26 07:51] petrjaros commented on #742
I did some additional research of the code generated by Webpack and I believe the problem is caused by `monet`. Especially the part where the library is rewriting Javascript core objects:
https://github.com/monet/monet.js/blob/develop/src/monet-pimp.js#L79.
The reason why it caused problems before and now it is OK is that they moved these functions changing Javascript core objects into optional `m

[2018-11-26 22:01] char0n commented on #724
@vorticalbox all affected predicates should be fixed now. Checkout the pending PRs if you can. Those PR will be part of v2.13.0

[2018-11-27 06:45] #724 closed

[2018-11-27 08:05] char0n commented on #742
@petrjaros, @Cheprer glad we've figured it out. Using newer versions of monet is highly recommended because of this implicit fiddling with system prototypes. Can we close this, as this doesn't seem to be the cause of problem anymore ?

[2018-11-27 19:20] #746 closed

[2018-12-02 17:40] char0n opened #761 "allSettledP"
https://github.com/tc39/proposal-promise-allSettled

Make sense to implement when the proposal is in stage 2

[2018-12-04 21:16] #742 closed

[2018-12-07 19:42] char0n opened #764 "isClass"
https://stackoverflow.com/questions/29093396/how-do-you-check-the-difference-between-an-ecmascript-6-class-and-function

[2018-12-08 09:41] char0n commented on #724
Released as v2.13.0. @vorticalbox hopefully your problem will be resolved.

[2018-12-08 11:30] vorticalbox commented on #724
Thanks for the update :) I'll look forward to testing it out.

[2018-12-09 10:54] char0n commented on #653
I'll address this next

[2018-12-30 08:13] char0n commented on #37
We will not be dealing with this for now

[2018-12-30 08:13] #37 closed

[2018-12-30 20:45] char0n opened #783 "toInterger32"
**Is your feature request related to a problem? Please describe.**
Convert double-precision 64-bit binary format IEEE 754 to signed 32 bit integer number.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

[code]

**Additional context**

We also need to alias this function as: **toInt32**

To force a number value in a to a 32-bit signed integer value, use a

[2018-12-30 20:56] char0n opened #784 "isNegativeZero"
Object.is can be used to provide the check under hood

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isNegativeZero` function.

[2018-12-30 21:41] char0n opened #785 "isSparseArray"
An array with at least one “empty slot” in it is often called a “sparse array.”

[2018-12-30 21:44] char0n commented on #785
https://stackoverflow.com/questions/36622064/check-the-array-has-empty-element-or-not

[2018-12-31 12:44] char0n opened #786 "isPrimitive"
**Is your feature request related to a problem? Please describe.**
Returns true if value is primitive javascript value type

**Describe the solution you'd like**
Possible implementation:
[code]

Assertions:

[code]

**Describe alternatives you've considered**

Complement of `isNotPrimitive` can be implemented as part of this issue.

**Additional context**
https://developer.mozilla.org/en-US/docs/G

[2018-12-31 12:47] char0n opened #787 "isPrototypeOf"
**Is your feature request related to a problem? Please describe.**

This is basically a functional auto-curried, data-last wrapper on top of [Object.prorotype.isPrototypeOf](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/isPrototypeOf)

**Describe the solution you'd like**

[code]
Possible implementation

[code]

**Describe alternatives you've considered**

[2018-12-31 12:51] char0n opened #788 "toNumber"

[2018-12-31 12:52] char0n opened #789 "toBoolean"

[2019-01-01 18:54] char0n opened #790 "toInteger"

[2019-01-01 18:55] char0n opened #791 "valueOf"

[2019-01-02 06:53] char0n opened #792 "toPrimitive"

[2019-01-02 13:35] char0n opened #793 "isSentinelValue"
**Is your feature request related to a problem? Please describe.**

-1 is commonly called a "sentinel value," which basically means a value that's given an arbitrary semantic meaning within the greater set of values of its same type (numbers). The C-language uses -1 sentinel values for many functions that return >= 0 values for "success" and -1 for "failure."

**Describe the solution you'd like**

[2019-01-02 20:52] razor-x opened #795 "Alias then conflicts with ramda then"
I maintain a package that depends on ramda and ramda-adjunct having non-conflicting exports (we basically re-export everything under a single namespace). I realize this is not necessarily guaranteed by this project, however it (A) has not been an issue before and (B) seems like a reasonable assumption that there would not exist functions in each project under the same name.

Anyway, I need to plan

[2019-01-02 21:41] char0n commented on #795
Hi @razor-x,

Yes, the assumption is right. It would not make sense to have two functions in both projects with the same name. But you have to keep in mind that our support for ramda spans multiple versions: ramda >= 0.19.0 <= 0.26.1. That's why I've chosen  the aliasing strategy for  `thenP`. What I was trying to do was to align the RA naming to what R chosen to call this function `then`. So my i

[2019-01-02 21:57] razor-x commented on #795
Thanks. I understand that `RA.thenP` was a function, but the `RA.then` alias is new. I see how adding `RA.then` can help transition people who cannot upgrade to the latest Ramda, although I'm not sure I would have taken the same approach. I had also not considered the issue of supporting a range of previous ramda versions and the transition of functions into core.

I think my only option in this c

[2019-01-02 21:57] #795 closed

[2019-01-02 22:10] char0n commented on #795
I'm open to suggestions here. What approach would you suggest ?

I think you can still acheive what you want by using [webpack aliases](https://webpack.js.org/configuration/resolve/#resolve-alias). Create a local module, reexporting only non conflicting stuff and make webpack read from it when hitting 'ramda-adjunct' import.

There is also a medium publication regarding ramda-adjunct that explains

[2019-01-02 23:00] razor-x commented on #795
I would have not added the alias and just let users transition directly from `RA.thenP` to `R.then` when they were able to update ramda. However I have a particular bias here so I can't say if that's really a better idea. Either way removing `RA.then` would be a breaking change at this point so I don't recommend backtracking that choice. As longs the creation of aliases are generally consistent I

[2019-01-06 16:58] srghma opened #798 "mapObjIndexedReturnArray"
Version 1

[code]

But I would prefer to use this version that is much more faster

[code]

what do you think @char0n , can I add second version?

[2019-01-09 22:16] char0n commented on #798
Yeah I see the potential there. We have to be careful with the name though, `map` invokes homomorphic operation. This is more like `unzipObjectWith/unzipObjWith` transformation.

[2019-01-10 08:36] char0n commented on #798
To form a partial isomorphism with `R.zipObj` the transformation needs to look like this:

[code]

So you'll need to do `expected[1]` to get what you need. I like that this is generic concept which plays with the rest of the `zipping` algos. What do you think ?

[2019-01-10 17:11] srghma commented on #798
ok, we can add unzipObjWith too

[2019-01-10 18:44] srghma commented on #798
found my function in nix https://github.com/NixOS/nixpkgs/blob/70732eb4823336bb3234ea399d797c79d8dccdba/lib/attrsets.nix#L229

it's name - mapAttrsToList

[2019-01-11 06:55] char0n commented on #798
What about calling your function `objToArray` with alias of `objectToArray`. The function accepts a transformer function and an object. IMHO having a non-homomorphic function which name starts with map doesn't make any sense. `*map*` should always return result of the same type as the input data.

[2019-01-11 06:56] char0n opened #801 "unzipObjWith"
To form a partial isomorphism with `R.zipObj` the transformation needs to look like this:

[code]

So you'll need to do `expected[1]` to get what you need. I like that this is generic concept which plays with the rest of the `zipping` algos.

[2019-01-11 06:56] char0n commented on #798
Created special issue for [unzipObjWith](https://github.com/char0n/ramda-adjunct/issues/801)

[2019-01-28 07:35] char0n opened #806 "isSymbol"
Checks if value is classified as a Symbol primitive or object.

**Possible implementation**:
[code]
[type](https://ramdajs.com/docs/#type) function is from ramda.

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isSymbol` function.

[2019-02-03 17:30] char0n opened #807 "anyP"
Make sense to wait untill stage-2 is reached. https://github.com/tc39/proposal-promise-any

**Update:**
Already present in other Promise libraries. No need to wait for stage-2.

[2019-02-03 17:36] char0n opened #808 "trimStart/trimEnd"
https://github.com/tc39/proposal-string-left-right-trim

Don't forget appropriate polyfills + aliases (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart)

[2019-02-05 19:30] char0n opened #814 "noneP"
This pattern is like [allP([ .. ])](https://char0n.github.io/ramda-adjunct/2.21.0/RA.html#.allP), but fulfillments and rejections are transposed. All Promises need to be rejected—rejections become the fulfillment values and vice versa.

Promise patterns explained in [YDKN series](https://github.com/getify/You-Dont-Know-JS/blob/1st-ed/async%20%26%20performance/ch3.md#variations-on-all---and-race--)

[2019-02-05 19:32] char0n opened #815 "firstP/headP"
This pattern is like a race with [anyP([ .. ])](https://github.com/char0n/ramda-adjunct/issues/807), which means that it ignores any rejections and fulfills as soon as the first Promise fulfills.

Promise patterns explained in [YDKN series](https://github.com/getify/You-Dont-Know-JS/blob/1st-ed/async%20%26%20performance/ch3.md#variations-on-all---and-race--)

[This PR](https://github.com/char0n/ra

[2019-02-05 19:34] char0n opened #816 "lastP"
This pattern is like [firstP([ .. ])](https://github.com/char0n/ramda-adjunct/issues/815), but only the latest fulfillment wins.

Promise patterns explained in [YDKN series](https://github.com/getify/You-Dont-Know-JS/blob/1st-ed/async%20%26%20performance/ch3.md#variations-on-all---and-race--)

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `

[2019-02-05 19:35] char0n commented on #807
This pattern is like all([ .. ]), but it ignores any rejections, so only one needs to fulfill instead of all of them.

[2019-02-05 19:37] char0n commented on #815
This implementation of first(..) does not reject if all its promises reject; it simply hangs, much like a Promise.race([]) does. If desired, you could add additional logic to track each promise rejection and if all reject, call reject() on the main promise.

[2019-02-09 11:10] char0n opened #822 "Decimal number adjust"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/floor#Decimal_adjustment

[2019-02-09 20:29] evdama opened #825 "docs: wrong example in lengthGte"
Seems the third out of three examples at https://char0n.github.io/ramda-adjunct/2.14.0/RA.html#.lengthGte is wrong as it shows `false` when it's actually `true` (same as the second example).

[2019-02-09 20:51] char0n commented on #825
Thanks for noticing. I will issue an PR with fix ASAP. Or if you wish feel free to issue PR with fix.

[2019-02-09 20:53] evdama commented on #825
cheers, no worries, go ahead and do a PR... thanks

[2019-02-10 10:28] char0n commented on #825
PR provided.

[2019-02-10 11:20] #825 closed

[2019-02-10 12:27] #748 closed

[2019-02-14 11:12] char0n opened #830 "async"
Creates async interface from generator. https://www.promisejs.org/generators/

[code]
Yield delegation and recursion delegatin must be tested too to guarantee correctness of the implementation.

[2019-02-15 15:49] #830 closed

[2019-02-18 10:44] ipanasenko opened #838 "Cannot find module 'jsverify'"
Hey, guys. Seems like in latest minor version there's a bug in types. I get following error:

`node_modules/ramda-adjunct/src/index.d.ts(1,29): error TS2307: Cannot find module 'jsverify'.`

Can it be so that you forgot to add `jsverify` to dependencies?

[2019-02-18 13:47] char0n commented on #838
Problem is here: https://github.com/char0n/ramda-adjunct/blob/master/src/index.d.ts#L1

Some symbol got imported automatically from jsverify and it slipped inside during core review. I'll create a patch release this evening to fix it. Thanks for reporting this.

[2019-02-19 07:23] #838 closed

[2019-02-19 07:36] char0n commented on #838
Released [v2.16.1](https://www.npmjs.com/package/ramda-adjunct/v/2.16.1) which fixes this problem. Thanks again for reporting this.

[2019-02-19 22:09] char0n opened #844 "flattenDepth"
https://tc39.github.io/proposal-flatMap/

[code]

[2019-02-22 20:54] char0n opened #846 "async - support for thunks"
async currently support Promises, it would be great if it could also support thunks.

https://github.com/getify/asynquence/tree/master/contrib#runner-plugin
https://twitter.com/gunar/status/806162693396844544

[2019-03-27 12:09] jk121960 commented on #55
Hi and thanks, Cool library, are there typescript typings for this, I didn't see them anywhere? thanks

[2019-03-27 15:15] char0n commented on #55
Typings are here: https://github.com/char0n/ramda-adjunct/blob/master/src/index.d.ts and are referenced in the package.json

[2019-04-13 20:34] char0n opened #877 "matchAll"
https://github.com/tc39/proposal-string-matchall

[2019-04-13 20:34] char0n commented on #761
Proposal is in stage 3.

[2019-04-13 20:35] char0n commented on #807
Proposal is in stage 1.

[2019-04-13 20:37] char0n opened #878 "replaceAll"
https://github.com/tc39/proposal-string-replaceall

Currently in stage 2. Should be fairly safe to implement.

[2019-04-14 09:58] char0n opened #880 "escapeRegExp"
When implemented, we can reimplement the `replaceAll` function with more effective and faster algorithm.

[2019-04-19 10:02] char0n opened #887 "Implement benchmark tests"
https://benchmarkjs.com/

[2019-04-22 06:50] char0n opened #889 "whereAny"
**Is your feature request related to a problem? Please describe.**

Takes a spec object and a test object; returns true if the test satisfies the spec. Each of the spec's own properties must be a predicate function. Each predicate is applied to the value of the corresponding property of the test object. where returns true if one of the predicates return true, false otherwise. This function is just

[2019-04-22 16:50] char0n commented on #13
I think we're good here. When searching for `ramda` we are on the second place. I can still see `branind` as `0` even though we have a new custom logo now.

[2019-04-22 16:50] #13 closed

[2019-04-22 16:57] #367 closed

[2019-04-22 17:00] char0n commented on #367
Everything processed here.

[2019-04-22 17:01] char0n commented on #374
Executing upon this. More attractive readme and freecodecamp advices already processed. I still need to do submissions to the sites mentioned in hackernoon article.

[2019-04-27 08:49] char0n opened #895 "Use chai directly instead of internal `eq` function in test asserts"
Appropriate assert functions from [chai](https://www.chaijs.com/api/assert) should be used to be more explicit.

Code like this:
[code]
has to become like this:
[code]

[2019-05-03 19:22] char0n opened #903 "Rename polyfills to ponyfills"
**Is your feature request related to a problem? Please describe.**

All through out the codebase, we call our ponyfill - polyfills. This is incorrect. We're not polyfilling anything, we just provide ponyfills that can be utilized.

**Describe the solution you'd like**

All files, directories, variable names, test descriptions needs to changed from `polyfill` to `ponyfill`. When we finish no refere

[2019-05-03 20:41] char0n opened #904 "isFulfilledP, isRejectedP, isPendingP"
These 3 predicates could inspect the state of the promise or the objects returned by `allSettledP`.

https://ourcodeworld.com/articles/read/317/how-to-check-if-a-javascript-promise-has-been-fulfilled-rejected-or-resolved

[2019-05-04 06:31] #761 closed

[2019-05-04 12:23] char0n commented on #904
Currently is did not find a way how to synchronously inspect the state of the promise.

[2019-05-13 04:13] nsinghal90 opened #922 "Cata doesn't work with folktale Result type"
The cata function throws up an error with folktale 2.3.2 Result.

<pre><code>import * as R from 'ramda';
import * as RA from 'ramda-adjunct';
import Result from 'folktale/result';

const leftF = R.pipe(
  R.tap(console.log),
);
console.log(RA.cata(leftF, R.identity)(Result.Error('aaa')));</code></pre>

  return catamorphicObj.either(leftFn, rightFn);
                        ^

    at /home/runner/

[2019-05-13 06:04] char0n commented on #922
True. We’ll use ‘matchWith’ to support Result, Validation and Maybe types from folktake

[2019-05-13 06:53] char0n opened #923 "Documentation search doesn't work on latest version of jsdoc"

[2019-05-13 08:29] char0n commented on #922
Attached is pull request which adds support for monet.js, folktale and ramda-fantasy. Supported catamorphic types are: Maybe, Either, Result, Validation

[2019-05-13 16:01] borys-kupar opened #925 "mergePath typing is wrong"
TypeScript method definition for mergePath function seems to be wrong.

Current code:
[code]

According to documentation, the first argument is array of strings or numbers, but not an array of arrays.

This example currently throws TS error:
[code]
-> `Type string is not assignable to to type (string | number)[]`

[2019-05-13 21:01] char0n opened #926 "bimap"
https://github.com/fantasyland/fantasy-land#bifunctor

[2019-05-13 21:03] char0n commented on #925
Hi @borys-kupar,

Thank you for reporting this. Would you be able to provide a PR for this ?

[2019-05-14 05:48] #923 closed

[2019-05-14 10:35] borys-kupar commented on #925
@char0n, sure

[2019-05-14 15:16] #925 closed

[2019-05-14 16:47] #922 closed

[2019-05-16 05:52] char0n opened #932 "allEqual test fix"
https://github.com/char0n/ramda-adjunct/blob/master/test/allEqual.js

`returns true` -> `should return true`

[2019-05-21 01:45] dimitropoulos commented on #351
well hold on a sec.  I just ran into a use case for this.  How about something simple like

[code]

I recognize that this doesn't rely on ramda, but also the point of all this is a utility library and I feel like this particular function has utility.  @char0n let me know if you are interested in me putting up a PR.

:)

[2019-05-21 08:51] char0n commented on #351
I think this has use-cases, but it must be implement as you suggest, checking for `Symbol.iterator` according to [iterator protocol spec](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols). We also have to be careful to make this function `safe` in a sense, that when `Symbols` are not supported in javascript env where RA is used, it must not fail; the `isIterabl

[2019-05-22 19:51] char0n opened #937 "Async iterator predicate"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/asyncIterator

[2019-05-25 07:15] #351 closed

[2019-05-26 19:20] char0n opened #941 "Add testing on node 12.y.z"

[2019-05-26 19:20] char0n opened #942 "Add support for ramda@0.27.0"

[2019-05-31 17:40] dimitropoulos opened #945 "sortByProp and sortByPath and orderByProp and orderByPath"
I'm inclined to wonder, would you be interested in a set of functions (similar to lodash's [sortBy](https://lodash.com/docs/4.17.11#sortBy) and [orderBy](https://lodash.com/docs/4.17.11#orderBy)) which could sort an array of objects with respect to one of the properties.

for the given data:
[code]

sortByProp would work like `sortByProp(['a'])(data)` or possibly `sortByProp('a')(data)` if you wan

[2019-05-31 18:04] dimitropoulos commented on #945
I would like to also add, as an aside, that I have tried the version of this offered up in the ramda cookbook:
https://github.com/ramda/ramda/wiki/Cookbook#sort-a-list-by-array-of-props-if-first-prop-equivalent-sort-by-second-etc
and I had quite some trouble getting the types (with typescript) to work, whereas the above solution with sortWith works well "out of the box"

[2019-05-31 19:46] JaceHensley commented on #844
Hello, I was wondering if you had an implementation idea for this? Even something a little messy. Trying to implement it but not having much luck. Thanks!

[2019-05-31 20:43] char0n commented on #844
Yeah I think so. Ramda has [_makeFlat](https://github.com/ramda/ramda/blob/master/source/internal/_makeFlat.js) which can be used in non recursive mode.

[code]

[2019-05-31 20:46] char0n commented on #844
You could provide a PR for this if you wish to

[2019-05-31 20:51] JaceHensley commented on #844
Awesome thank you! I'll fiddle with that and if I can get it working I'll submit a PR

[2019-06-03 23:12] crvouga commented on #349
over(
    lens,
    when(predicate, transformation),
   x
)

[2019-06-08 15:57] dawehner commented on #286
I'll have a look into that one :)

[2019-06-08 16:01] dawehner commented on #286
Note: xor is implemented in ramda 0.27, see https://github.com/ramda/ramda/blob/master/source/xor.js

[2019-06-08 16:08] char0n commented on #286
Cool, so we'll just wait for 0.27.0, add support for it to ramda-adjunct a then this issue is close. In fact I'd close it now as long as xor is already in ramda master. @dawehner feel free to take any other of our issues ;]

[2019-06-08 16:08] #286 closed

[2019-06-08 16:13] char0n commented on #349
@crvouga just for a reason having specialized well tested named compositions. Do you think `overWhen` would be overkill ?

[2019-06-08 17:15] dawehner commented on #286
Hi! I'm actually looking into nand now

On Sat, 8 Jun 2019, 17:08 Vladimir Gorej, <notifications@github.com> wrote:

[2019-06-09 05:34] dawehner commented on #237
This is implemented in https://github.com/char0n/ramda-adjunct/pull/952

[2019-06-09 08:19] #189 closed

[2019-06-09 08:43] char0n commented on #945
`sortByPath` seems valid. `sortByProp` can be then just specialization of `sortByPath`. Regarding `orderByProp|Path` I'm not sure about those two. If you want to go further with this, provide a PR with `sortByPath` and we'll go from there ;]

[2019-06-12 07:53] #237 closed

[2019-06-12 11:47] char0n commented on #314
We can use lint-staged to replace pre-commit.sh script.

[2019-06-15 09:57] #844 closed

[2019-06-15 19:35] #941 closed

[2019-06-17 20:57] char0n opened #960 "Setup security tab on repo"

[2019-07-10 18:50] renatorib opened #975 "RA.template: compound strings with tagged template literals"
This is just a suggestion. If it sounds good, let me know. I'd love to be able to create my first pull request here.

### The case

I see that composing a string from my data is something that is not very simple yet, despite having quite a few common cases.

[code]

This works fine for the case in question, although it is verbose, but it's not very flexible in case I want to build a more complex s

[2019-07-13 12:50] char0n opened #978 "Finish our typescript definition testing via dtslint"
Related PR where the effort was started here: https://github.com/char0n/ramda-adjunct/pull/977

[2019-07-13 19:52] char0n commented on #975
It's an interesting idea for sure. It allows the template literals to become lazy interpolation mechanism, retaining all the semtantics.

I think currying should also be possible. When the function gets called as a template literal tag, it can return function which configuration (currying) can be assumed from the arguments of original function call.

Same case as 1.)

I'll help with the signature.

[2019-07-21 14:06] #932 closed

[2019-07-21 14:30] #314 closed

[2019-07-21 14:31] #960 closed

[2019-08-12 09:28] char0n opened #1014 "Register on funding sites"
https://github.com/char0n/ramda-adjunct/blob/1fa086c6efb644751a3586d50af295fa2b4a487f/.github/FUNDING.yml#L6

[2019-08-13 18:44] char0n opened #1017 "Some more badges for README file"
https://badgen.net

[2019-08-15 05:15] char0n opened #1021 "Use custom postinstall script not opencollectivecli"

[2019-08-16 07:16] dawehner commented on #785
I've implemented this function in https://github.com/char0n/ramda-adjunct/pull/1022

[2019-08-18 07:07] char0n opened #1028 "Add link to ramda-adjunct mention articles"
https://blog.inspeerity.com/react-native/integrating-react-native-navigators/

[2019-08-20 17:39] char0n commented on #785
Thank you for noticing this feature issue. You provided a PR in #1022, but I think we have get our theory right first. Your implementation is assumes that spare array is every array that includes `undefined` value. That is unfortunately not true.

To share more light on the problem, please read the Array section on this document [You Don't Know Javascript](https://github.com/getify/You-Dont-Know-J

[2019-08-20 19:04] #1021 closed

[2019-08-26 12:51] nshaikhinurov commented on #889
Useful function. I've currently copied it from SO, thanks

[2019-08-26 17:10] char0n commented on #889
You can issue a PR if you want to see this function in RA permanently ;]

[2019-08-28 07:55] #1014 closed

[2019-09-05 12:18] #285 closed

[2019-09-05 12:18] char0n commented on #285
This function is in master now.

[2019-09-08 15:22] char0n commented on #785
As agreed, closing in favor of https://github.com/char0n/ramda-adjunct/pull/1048

[2019-09-08 15:22] #785 closed

[2019-09-16 19:46] char0n opened #1057 "Utilize mergify.io"
Utilize https://mergify.io/ to merge greenkeeper PRs that passed CI. We're wasting precious time by merging PRs manually now.

[2019-09-16 20:17] char0n opened #1058 "Mention in article"
https://blog.inspeerity.com/react-native/integrating-react-native-navigators/

[2019-09-18 19:36] char0n commented on #1017
Vulnerabilities badge as shown here https://www.npmjs.com/package/rxjs-websockets

[2019-09-19 05:45] dawehner commented on #785
Thank you! Sorry again for stopping the work

On Sun, 8 Sep 2019, 16:22 Vladimir Gorej, <notifications@github.com> wrote:

[2019-09-19 06:50] char0n commented on #785
@dawehner no problem at all ;]

[2019-09-25 13:09] #880 closed

[2019-09-25 13:18] #1058 closed

[2019-09-25 13:19] char0n commented on #1028
Closed by 7e9034ff2059743c9b20ec3bf648db12e1720f8a

[2019-09-25 13:19] #1028 closed

[2019-09-26 15:39] char0n opened #1069 "Increase the quality of our issue descriptions"
Once the quality of the issues is rectified, proceed with registering the project with following services:

~[Up For Grabs](https://up-for-grabs.net/#/)~
~[IssueHub](http://issuehub.io/)~
~[FirstTimersOnly](https://www.firsttimersonly.com/)~
~[Your First PR](http://yourfirstpr.github.io/)~
~[Awesome for beginners](https://github.com/mungell/awesome-for-beginners)~
~[Pull Request Roulette](http://w

[2019-09-26 15:47] char0n opened #1070 "Pick 4 issues, properly document them for hacktoberfest 2019"

[2019-10-01 08:29] char0n commented on #483
**Original issue description by @Undistraction :**
I'm forever doing  `flip(subtract)`, so how about:

[code]

[2019-10-01 08:31] char0n commented on #482
**Original issue description by @Undistraction**
I'm forever doing `flip(divide)`, so how about:

[code]

[2019-10-01 10:05] peaonunes commented on #806
Hi @char0n . I was hoping to tackle this issue, but I am getting an error while trying to `npm install`. Seems like the version of `sinon` in the `package-lock.json` is not available anymore 🤔 . Any thoughts on that?
[code]

[2019-10-01 10:20] char0n commented on #806
@peaonunes let me check, and I'l get back to you in a couple of minutes.

[2019-10-01 10:24] byurhanbeyzat commented on #806
Hi, @char0n I have the same problem.

[2019-10-01 10:28] char0n commented on #806
Fixed by db827c5d43f9a0443d21607f0330f3cea5aade17

[2019-10-01 10:29] peaonunes commented on #806
No worries!
I'm going to tackle this issue soon 😄

[2019-10-01 13:36] JSmurf commented on #747
I'd love to take a stab at this!

[2019-10-01 19:15] char0n commented on #747
@JSmurf it's yours! Go wild ;]

[2019-10-01 19:16] char0n commented on #342
@rafaelpadovezi go ahead! It's all yours ! ;]

[2019-10-01 21:31] tynopet commented on #807
I'm going to implement this feature

[2019-10-02 06:36] char0n commented on #807
@tynopet thanks, I've assign the issue to you, applied `Hacktoberfest` label and I'm looking into the PR now.

[2019-10-02 07:07] #806 closed

[2019-10-02 07:21] char0n commented on #725
This is already in effect. We're using github alerts.

[2019-10-02 07:21] #725 closed

[2019-10-02 11:34] char0n commented on #1070
This is done. Couple of more issues will be nice.

[2019-10-02 11:34] #1070 closed

[2019-10-02 11:39] char0n opened #1084 "pathOrLazy"
**Is your feature request related to a problem? Please describe.**

Sometimes creating a default value for [pathOr](https://ramdajs.com/docs/#pathOr) is not cheap.

[code]
**Describe the solution you'd like**

Whould be nice to have `pathOrLazy` that accepts a function instead of value as the first argument.

[code]
This way computing a default value only happens when we really need it.

**Additio

[2019-10-03 00:56] willcaul commented on #1084
Could I take this one?

[2019-10-03 05:07] char0n commented on #1084
@willcaul sure, go ahead

[2019-10-03 06:29] #482 closed

[2019-10-03 06:31] #483 closed

[2019-10-04 09:49] #807 closed

[2019-10-04 20:58] tynopet commented on #815
I'm going to implement this feature

[2019-10-05 06:32] char0n commented on #815
@tynopet you're assigned. Good luck!

[2019-10-06 16:37] char0n opened #1092 "Make function construction and export consistent"
As a convention we should strive to construct the function before we try to export it. We shouldn't do anything else except export in `export default` statement which should be the last statement in the file. Exception are allowed only in exceptional cases.

Example of case that needs to be rectified: https://github.com/char0n/ramda-adjunct/blob/7cae6fc8de5ef2b29ecb39623de19b659db77666/src/argsPas

[2019-10-06 17:42] #1084 closed

[2019-10-06 18:51] #1092 closed

[2019-10-07 15:52] char0n commented on #808
Pls process this in 2 separate PRs.

[2019-10-10 06:36] char0n opened #1099 "delayP"
This function has two behaviors:

1. Creates a promise that resolves after x milliseconds. This function is overloaded and instead of `Number` can also consume `options` object. If timeout not specified by options object, the returned promise resolves immediately.
[code]

2. Create a promise that rejects after the specified milliseconds. This function is overloaded and instead of `Number` can also

[2019-10-10 06:38] #814 closed

[2019-10-10 07:19] PranjalAgni commented on #1099
Can I try this?

[2019-10-10 07:37] char0n commented on #1099
@PranjalAgni go ahead. It's yours!

[2019-10-10 07:46] PranjalAgni commented on #1099
I am new to functional programming. Can you help me about how I can add .reject to my delayP function?

[2019-10-10 08:49] char0n commented on #1099
No problem. Let's say you already defined a `delayP` function as following.
[code]
In javascript, even a functiona is an object so you can assign the `reject` function directly to `delayP` function in following way:
[code]
And that's it. Let me know if the explanation was clear. Example how to do it can also be found here: https://github.com/char0n/ramda-adjunct/blob/b9ac42e0a182958f5930218b4a3bde

[2019-10-10 11:36] PranjalAgni commented on #1099
Thanks for the explanation it was really easy to catch

[2019-10-10 11:47] #342 closed

[2019-10-10 12:48] PranjalAgni commented on #1099
Hey @char0n I was going through the codebase there are these two functions `resolveP` and `rejectP` so can I use them internally when writing `delayP`.
Also  can you quickly tell me why we are using `bind` everywhere?

[2019-10-10 13:12] PranjalAgni commented on #1099
Also when you wrap your functions with `curry1` how do you pass paramters to it. As in many functions I don't find where you have passed argument for it for e.g. `allEqual` fn.

[2019-10-10 13:23] char0n commented on #1099
Yeah, pls use them internaly.

This library can be used in very old environments theoretically. In old JavaScript envs not all functions where static, and were bound to the context that they were called from. For example following code would not work in some javascript env.s
[code]
But the following would.
[code]
We're trying to write code in a way so that we increase the possibility to run on as

[2019-10-10 13:34] PranjalAgni commented on #1099
Yeah got you explained me how `curry1` works.

[2019-10-10 13:41] PranjalAgni commented on #1099
Also I am using `pipe` to call `resolveP` how can I  send the value param to `resolveP`?

[2019-10-10 13:45] PranjalAgni commented on #1099
Figured it out!

[2019-10-10 14:41] PranjalAgni commented on #1099
Currently I am using `setTimeout` to make a delay and resolving a promise inside it  but then I need to use `.then` to get the resolved value from `delayP` for e.g `delayP().then(val => console.log(val))`. Should I use javascript `sleep()` so then I don't need to put a `.then` after `delayP()`

[2019-10-10 16:22] char0n commented on #1099
To figure it out what you're trying to do I'd need some code fragment.

[2019-10-10 16:24] PranjalAgni commented on #1099
Sure

[2019-10-10 16:38] PranjalAgni commented on #1099
The problem I am facing is I need to add a `.then()` to my `delayP()` to make it work. I am sharing a sample code which I was playing with:
[code]

I wanted a behaviour like:
[code]

[2019-10-10 18:00] PranjalAgni commented on #1099
Also is there a way in current setup to execute only single file in the test directory. If so please share the command for it.

[2019-10-11 06:29] char0n commented on #808
@rafaelpadovezi yep, you're assigned. Pls process this as separate two PRs. If you have any questions fire away.

[2019-10-11 06:32] char0n commented on #1099
There is. By calling `.only`:

[code]
or
[code]
Only the most inner block with `only` call will be called when running tests.

[2019-10-11 06:36] char0n commented on #1099
@PranjalAgni the behavior of `console.log(delayP(1000))` is not possible. The function must always return promise.

[2019-10-11 06:36] char0n commented on #1099
This example
[code]
reflects the reality what we really want.

[2019-10-11 06:38] char0n commented on #747
@JSmurf are you still interested in this ?

[2019-10-11 06:42] #667 closed

[2019-10-11 06:49] PranjalAgni commented on #1099
I was currently using `mocha` grep pattern for this `mocha --grep <NAME_OF_YOUR_TEST>`

[2019-10-11 06:49] char0n opened #1102 "padCharsStart"
**Is your feature request related to a problem? Please describe.**

This function pads the current string with another string (multiple times, if needed) until the resulting string reaches the given length. The padding is applied from the start of the current string.

**Describe the solution you'd like**

[code]
The function is of arity=3 and is autocurried.

**Additional context**

The functions

[2019-10-11 06:52] PranjalAgni commented on #1099
I have implemented the function like this so it is good to go.
Also should I throw a error message if argument passed by the user is not a `Number` or `Object`

[2019-10-11 06:53] char0n opened #1103 "padStart"
**Is your feature request related to a problem? Please describe.**

This function pads the current string with another string (multiple times, if needed) until the resulting string reaches the given length. The padding is applied from the start of the current string.

**Describe the solution you'd like**

[code]
The function is of arity=2 and is autocurried.

**Additional context**

This function

[2019-10-11 06:56] char0n opened #1104 "padCharsEnd"
**Is your feature request related to a problem? Please describe.**

This function pads the current string with a given string (repeated, if needed) so that the resulting string reaches a given length. The padding is applied from the end of the current string.

**Describe the solution you'd like**

[code]

The function is of arity=3 and is autocurried.

**Additional context**

The functions should

[2019-10-11 06:57] char0n opened #1105 "padEnd"
**Is your feature request related to a problem? Please describe.**

This function pads the current string with a given string (repeated, if needed) so that the resulting string reaches a given length. The padding is applied from the end of the current string.

**Describe the solution you'd like**

[code]
The function is of arity=2 and is autocurried.

**Additional context**

This function is just

[2019-10-11 06:59] char0n commented on #400
Closing this in favor of #1102, #1103, #1104, #1105

[2019-10-11 06:59] #400 closed

[2019-10-11 07:01] char0n commented on #1099
Yes you can also use the grep, there are multiple ways how to achieve the same.

Also should I throw a error message if argument passed by the user is not a Number or Object

Nope, we try not to validate input arguments unless absolutely necessary.

[2019-10-11 08:25] jrga03 commented on #1103
can i have this issue?

[2019-10-11 08:44] char0n commented on #1103
@jrga03 you would first need to implement https://github.com/char0n/ramda-adjunct/issues/1102 to process this. Write a comment in https://github.com/char0n/ramda-adjunct/issues/1102 so that I can assigned you there.

[2019-10-11 10:06] M-ZubairAhmed commented on #1102
Can i work on this ?

[2019-10-11 11:02] sanjeevkpandit commented on #1104
@char0n Should I try this?

[2019-10-11 11:23] dshubhadeep commented on #1105
Could I work on this ?

[2019-10-11 11:42] miguelcarvalho13 commented on #784
Can I work on this issue?

[2019-10-11 11:51] loganthomas commented on #1102
I’d like to work on this. Shouldn’t this be related to #1104 and #1105? Wouldn’t you want the same approach for both ‘start’ and ‘end’? (I’m thinking ‘.ljust()’ and ‘.rjust()’)

[2019-10-11 13:26] char0n commented on #1102
@M-ZubairAhmed go ahead. It's yours.

[2019-10-11 13:29] char0n commented on #1104
@sanjeevkpandit of course. Issue is now assigned to you.

[2019-10-11 13:30] char0n commented on #1105
@dshubhadeep yes of course. You just need to coordinate with @sanjeevkpandit and wait for his implementation because this functions is going to be directly based on #1104

[2019-10-11 13:33] char0n commented on #1103
@jrga03 already taken by different developer, it would be possible to execute this issue when #1102 is landed on master.

[2019-10-11 13:35] char0n commented on #784
@miguelcarvalho13 sure. It's yours now. Good luck!

[2019-10-11 13:39] char0n opened #1108 "isPositiveZero"
Object.is can be used to provide the check under hood. In JavaScript zero can be positive or negative:
[code]

[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isPositiveZero` function.

[2019-10-11 14:00] js636f commented on #1108
Hello, @char0n! Can I work on this feature?

[2019-10-11 14:24] char0n commented on #1108
Hello @js636f. You've been assigned. Good luck!

[2019-10-11 15:25] sravan7 commented on #1108
@char0n  Dont Know how to write this like a module that was done in this repo. Help me

`const isPositveZero = (zero)=>(1/zero>=0)?true:false`

Above solution works.

[2019-10-11 15:32] char0n commented on #1108
@sravan7 the example [pull request](https://github.com/char0n/ramda-adjunct/pull/1067) is linked in description of this issue. For more examples see other merged PRs. Regarding your implementation - it's not correct - `isPositiveZero(1)` whould return 1. You have to use [Object.is](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is) to check for it.

[2019-10-11 15:50] js636f commented on #1108
@char0n, as far as I understand the PR should look like this:

1. New file src/isPositiveZero.js
2. Changes in src/index.js
3. New file test/isPositiveZero.js
4. Changes in types/index.d.ts
5. New file  types/test/isPositiveZero.ts

Am I right about the PR structure?

I think the main file should look like this:
[code]
Is it OK?

[2019-10-11 16:07] char0n commented on #1108
Structure is about right. The main file is also about right, but there are two problems.

1.) Function must be curried

[code]

[2019-10-11 16:15] js636f commented on #1108
OK, thank you very much! I'm keep working.

[2019-10-11 17:30] js636f commented on #1108
@char0n, I think the core code should look like this:

Polyfill file: src/internal/polyfills/Object.is.js

[code]

Feature file: src/isPositiveZero.js

[code]
Is it OK?

[2019-10-12 04:41] jrga03 commented on #1103
@char0n alright, will wait for #1102

[2019-10-12 04:42] miguelcarvalho13 commented on #784
Hi! Thank you for let me work in this issue.

Just submitted a PR for this issue.
Please let me know if I need to change something.

[2019-10-12 07:22] char0n commented on #1108
@js636f it would be best if you would issue a PR we will collaborate there. Code review comments allow me to address individual code lines on your code then. So pls issue a PR and we'll discuss it there.

Regarding the polyfill, it's not possible to include comments like this. These comments assume that we copied the code from the MDN. This is something we cannot do, the code there is licensed and

[2019-10-12 07:30] js636f commented on #1108
@char0n, OK, thank you. I'll issue an PR.

[2019-10-12 07:34] char0n commented on #1108
@js636f important update. This [PR](https://github.com/char0n/ramda-adjunct/pull/1109) had uncovered that `R.identical` object is using `Object.is` under the hood. So no need for polyfill. Pls use the mention PR as a template for your work.

[2019-10-12 07:39] char0n opened #1110 "isSet"
**Is your feature request related to a problem? Please describe.**

Predicate for determining if a provided value is an instance of a Set.

**Describe the solution you'd like**

[code]

**Additional context**
[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isSet` function. Issue original conceived in https://github.com/char0n/ramda-adjunct/i

[2019-10-12 07:40] char0n commented on #1103
@jrga03 meanwhile I can offer you [RA.isSet](https://github.com/char0n/ramda-adjunct/issues/1110) ? Would it be acceptable for you ?

[2019-10-12 07:41] js636f commented on #1108
@char0n, OK

[2019-10-12 10:56] rostyslav-diakiv commented on #747
@char0n
If you don't mind I can step in)

[2019-10-12 11:56] char0n commented on #747
@rostyslav-diakiv do step in ;)

[2019-10-12 13:35] js636f commented on #1108
@char0n, I made the [PR](https://github.com/char0n/ramda-adjunct/pull/1111)

[2019-10-12 15:44] char0n commented on #942
Not released yet

[2019-10-12 15:44] #942 closed

[2019-10-12 15:47] char0n opened #1113 "isMap"
**Is your feature request related to a problem? Please describe.**

Predicate for determining if a provided value is an instance of a Map.

**Describe the solution you'd like**

[code]

**Additional context**
[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isMap` function. Issue original conceived in https://github.com/char0n/ramda-adjunct/i

[2019-10-12 20:21] realSaddy commented on #1110
Could I handle this one?

[2019-10-12 23:06] realSaddy commented on #1113
Could I handle this?

[2019-10-14 07:19] char0n opened #1118 "upsert"
**Is your feature request related to a problem? Please describe.**

Updating or inserting in one operation.

**Describe the solution you'd like**

Solution described here: https://github.com/tc39/proposal-upsert (stage 2 proposal)

**Additional context**

Needs some additional spike, I think we could make it polymorphic to other JavaScript structures not just the `Map` type as proposed in the tc39

[2019-10-14 07:20] char0n commented on #807
This tc39 proposal just reached stage 3. No major changes are expected from this point on.

[2019-10-14 07:24] char0n commented on #878
This has reached stage 3. Possibly to replace our custom implementation with future polyfill. One things was added there and that is handling of empty strings: https://github.com/tc39/proposal-string-replaceall#what-happens-if-searchvalue-is-the-empty-string

We need to make sure our implementation compensate for that.

[2019-10-14 07:41] char0n commented on #1113
@realSaddy sure. Assigned to you

[2019-10-14 18:21] #1110 closed

[2019-10-14 19:58] realSaddy commented on #1113
Would you also like isNotMap or isNotSet?

[2019-10-15 11:44] js636f commented on #878
@char0n, so, we need this:

[code]

now we have this:

[code]

I think we may change this:

[code]
to something like this:

[code]

and add this to the test cases:

[code]

If these ideas look reasonable - I'm ready to prepare and make a PR.

[2019-10-15 18:01] #784 closed

[2019-10-15 18:12] char0n commented on #1113
@realSaddy I can create issues for them, but not sure if they would be any value. Let's the those issues for vote and we'll find out if there are real world usecases for them.

[2019-10-15 18:19] char0n opened #1122 "isNotMap"
**Is your feature request related to a problem? Please describe.**

Predicate for determining if a provided value is **not** an instance of a Map.

**Describe the solution you'd like**

[code]

**Additional context**
[This PR](https://github.com/char0n/ramda-adjunct/pull/1067) should serve as a model template of PR for `isNotMap` function. Related [isMap](https://github.com/char0n/ramda-adjunct/is

[2019-10-15 18:21] char0n opened #1123 "isNotSet"
**Is your feature request related to a problem? Please describe.**

Predicate for determining if a provided value is **not** an instance of a Set.

**Describe the solution you'd like**

[code]

**Additional context**
[This PR](https://github.com/char0n/ramda-adjunct/issues/1110) should serve as a model template of PR for `isNotSet` function.

[2019-10-15 18:23] char0n commented on #1113
isNotSet: https://github.com/char0n/ramda-adjunct/issues/1123
isNotMap: https://github.com/char0n/ramda-adjunct/issues/1122

I've put them for voting to see a real value in them. Let's see.

[2019-10-15 18:45] char0n commented on #878
@js636f your assumptions are correct. But we need a little bit different strategy. If we get this right we might be the first reference implementation. So let's do it in the following way:

**1.) Ponyfill**

 Create a ponyfil in our ponyfill directory. This ponyfill must not use anything from ramda or ramda-adjunct bust mu be pure javascript, so that it's framework agnostic.

**2.) Implementation*

[2019-10-15 18:51] char0n commented on #895
@js636f i've updated the ticket description to bring more clarity.

[2019-10-15 18:55] char0n commented on #878
@js636f would be good for you to watch this issue: https://github.com/tc39/proposal-string-replaceall/issues/29

[2019-10-15 19:24] js636f commented on #878
@char0n, OK, thank you! I'm working on this.

[2019-10-15 19:27] js636f commented on #895
@char0n, OK, thanks.

[2019-10-15 21:57] js636f commented on #878
This is my implementation of the base code.

[code]

It seems to me it's working and it's in line with the [proposal](https://github.com/tc39/proposal-string-replaceall).

If it looks OK, then I'm ready to make a PR, to refine it and to change existing replaceAll.js-related things. And I think we need to make a `ponyfill` folder (I can't find it) and perhaps we should write dedicated tests for suc

[2019-10-16 06:17] #1113 closed

[2019-10-16 06:21] char0n commented on #1102
No activity here, giving this to anybody who will issue the PR first.

[2019-10-16 06:21] char0n commented on #1104
No activity here, giving this to anybody who will issue the PR first.

[2019-10-16 06:22] char0n commented on #1103
@jrga03 go for #1102 if you wish you. There has been no activity from original issue requester.

[2019-10-16 06:26] char0n commented on #1105
@dshubhadeep there has been no activity in #1104 so far. Feel free to start working #1104 so that we can then implement this one.

[2019-10-16 06:27] dshubhadeep commented on #1104
@char0n Could you assign me this issue ?

[2019-10-16 06:51] char0n commented on #878
Implementation seems about right. Did you base your work on https://github.com/zloirock/core-js/blob/v3.3.2/packages/core-js/modules/esnext.string.replace-all.js ?

Regarding ponyfill vs polyfill. When this library was born, we refereed to all the ponyfills incorectly as polyfills. We have a standing [issue](https://github.com/char0n/ramda-adjunct/issues/903) which should solve this later. So for

[2019-10-16 07:17] js636f commented on #878
My implementation is mainly based on the [proposal](https://github.com/tc39/proposal-string-replaceall) and on [this](https://github.com/zloirock/core-js/blob/v3.3.2/packages/core-js/modules/esnext.string.replace-all.js) implementation (global regex check, TypeError exception), I think I understand the structure, so, I'm working on the PR.

[2019-10-16 09:22] char0n commented on #1108
Closed by https://github.com/char0n/ramda-adjunct/pull/1111

[2019-10-16 09:22] #1108 closed

[2019-10-16 11:28] js636f commented on #878
I made the [PR](https://github.com/char0n/ramda-adjunct/pull/1124).

[2019-10-16 12:37] sanjeevkpandit commented on #1104
@char0n Extremely sorry for the trouble. Got busy with other stuff.

@dshubhadeep Have fun :+1:

[2019-10-16 13:41] dshubhadeep commented on #1104
@char0n I've started working on it. I had some doubts

Does this function belong to **string** category ?
Should the sig for this function be **String -> Number -> String -> String** ?

[2019-10-19 10:18] thomasmichaelwallace commented on #816
I'll take a look at this :)

[2019-10-19 14:32] thomasmichaelwallace commented on #801
I can take a look at this :)

[2019-10-19 17:06] #747 closed

[2019-10-20 07:34] char0n commented on #815
This has effectively become just an alias of `anyP`. Unfortunately we've realized that after the implementation.

[2019-10-20 07:44] #808 closed

[2019-10-20 08:05] char0n commented on #816
@thomasmichaelwallace thanks, you're assigned.

[2019-10-20 08:22] char0n opened #1129 "zipObjWith"
**Is your feature request related to a problem? Please describe.**

Same as https://ramdajs.com/docs/#zipObj but accepts a binary function as the first argument. This binary function returns an object which gets merged into final resulting object.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

[code]

Before we go for implementation we have to decide wh

[2019-10-20 08:24] char0n commented on #801
@thomasmichaelwallace go ahead. Does the function make sense to you ?

I've also create issue for [zipObjWith](https://github.com/char0n/ramda-adjunct/issues/1129). Take a look at it - I'd appreciate your opinion. Thanks

[2019-10-20 08:29] char0n commented on #1104
@sanjeevkpandit no problem at all, I completely understand.

@dshubhadeep

Yes, String category only

Yes, that's the correct signature

 Number(targetLength), String(padString)

More details can be undestood from polyfill: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padEnd#Polyfill

[2019-10-20 08:30] #815 closed

[2019-10-20 09:28] thomasmichaelwallace commented on #801
I think so, I understood it like this:

* Split a `{ key: value }` object into an array of `[key, value]` tuples
* Apply a function of the signature `(value, key) => [key', value']` to each of the tuples
* Return an tuple of arrays of the transformed keys/values respectively: `[[keys'], [values']]`.

Noting that with an identity function this would be a way to get a tuple where the left hand side

[2019-10-20 09:36] thomasmichaelwallace commented on #1129
Coming from #801 I think either the first option makes sense:

```RA.zipObjWith((value, key) => ({[key]: value}), ['a', 'b', 'c'], [1, 2, 3]); // => {'a': 1, 'b': 2, 'c': 3}```

Or, to match the proposed `unzipObjWith`:

```Ra.zipObjWith((value, key) => [key, `key${value + 1}`]), ['a', 'b', 'c'], [1, 2, 3]); // => {'a': a2, 'b': b3, 'c': c4}```

n.b. I agree that the alternative implementation whe

[2019-10-21 03:56] M-ZubairAhmed commented on #1102
@char0n sorry for no activity on this.
I am kind of new to functional providing , so here is what i have got after going to source code
[code]
as you can see the arguments are not of correct order as in description, could you help me with that

[2019-10-21 06:39] char0n commented on #1102
@M-ZubairAhmed no worries. Take a look at this PR: https://github.com/char0n/ramda-adjunct/pull/1131 which deals with [padCharsEnd](https://github.com/char0n/ramda-adjunct/issues/1104) function. I've already provided core review comments there. Take a look at it and use it as a base for you work.

[2019-10-21 06:47] char0n commented on #1129
I like the proposal of returning the tuple from the transformer binary function instead of the object. The new proposed behavior can be:
[code]

[2019-10-21 06:49] #515 closed

[2019-10-21 07:41] thomasmichaelwallace commented on #1129
Sounds good to me; I can get this done.

I am going to wait until the review on #1130 is complete. This is because I this will have a similar implementation to `unzipObjWith`, and I do not want to make the same mistakes twice! :)

[2019-10-21 07:42] thomasmichaelwallace commented on #801
Interesting- it does make sense to match that consistency. Thanks for pointing it out.

[2019-10-22 07:44] char0n opened #1135 "trimCharsStart"
**Is your feature request related to a problem? Please describe.**
Removes leading specified characters from string.

**Describe the solution you'd like**

[code]

**Additional context**

Function should be curried. Related to [trimStart/trimEnd issue](https://github.com/char0n/ramda-adjunct/issues/808).

[2019-10-22 07:47] char0n opened #1136 "trimCharsEnd"
**Is your feature request related to a problem? Please describe.**
Removes trailing specified characters from string.

**Describe the solution you'd like**

[code]

**Additional context**

Function should be curried. Related to [trimStart/trimEnd issue](https://github.com/char0n/ramda-adjunct/issues/808).

[2019-10-22 07:48] char0n commented on #808
I've create another related function [trimCharsStart](https://github.com/char0n/ramda-adjunct/issues/1135) and [trimCharsEnd](https://github.com/char0n/ramda-adjunct/issues/1136).

[2019-10-22 08:07] cos1715 commented on #1135
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart

[2019-10-22 08:07] cos1715 commented on #1136
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimEnd

[2019-10-22 09:08] #1104 closed

[2019-10-22 12:16] dshubhadeep commented on #1105
@char0n Should I work on this issue as well ?

[2019-10-22 12:31] char0n commented on #1105
@dshubhadeep go ahead!

[2019-10-22 13:27] dshubhadeep commented on #1105
@char0n I have started working on this. Is this the right implementation ?
[code]

[2019-10-22 16:05] char0n commented on #1105
@dshubhadeep yes you are on the right track here, but we can be even more elegant and use partial application or currying.

Partial application
[code]

Curring
[code]

IMHO currying is the most powerfull and elegant solution here.

[2019-10-22 16:27] dshubhadeep commented on #1105
@char0n Damn, the currying approach does make more sense. I will work on it.

[2019-10-22 22:32] wolverineks opened #1140 "Unable to resolve module://ramda/src/internal/_curry1.js"
**Describe the bug**
I'm trying to use RA.renameKeys on an [expo snack](https://snack.expo.io/@wolverineks/scan-drivers-license)
But importing anything from RA into the file throws this error

`Unable to resolve module://ramda/src/internal/_curry1.js`

importing and using Ramda alone works fine
everything works in a standalone react-native app
so, looks like it might be more of a expo snack issue,

[2019-10-23 06:43] char0n commented on #1140
@wolverineks this is (as you correctly assumed) problem specific to the expo snack. expo snack is not able to resolve directories inside the ramda package that ramda-adjunct is using. As part of our CI, we run tests of RA agains multiple versions of R in node (multiple versions) and browser (multiple platforms).

'ramda/src/' contains perfectly valid commonjs code which should be importable direct

[2019-10-23 07:27] #878 closed

[2019-10-23 07:37] #1105 closed

[2019-10-23 07:57] #801 closed

[2019-10-23 08:47] js636f commented on #895
@char0n, I found a test which still uses eq and made a [PR](https://github.com/char0n/ramda-adjunct/pull/1142).

[2019-10-23 15:14] char0n commented on #895
@js636f there is tons of them actually ;] Thank you for the PR.

[2019-10-23 18:37] js636f commented on #895
@char0n, you are welcome! I'll find another tests to edit (I think I'll edit them in small batches - around 3-5 files to keep things maintainable) and make another PRs.

[2019-10-24 07:18] dshubhadeep commented on #1136
@char0n Could you explain how the trimming is working ?

Shouldn't the output for the above example be `-_-abc-` ?

What would be the output for the following case ?
[code]

[2019-10-25 15:23] M-ZubairAhmed commented on #1102
@char0n i fixed this here https://github.com/char0n/ramda-adjunct/pull/1143, please let me know your comments

[2019-10-29 15:09] js636f commented on #895
@char0n, here is Batch 2 [PR](https://github.com/char0n/ramda-adjunct/pull/1149)

[2019-10-30 10:33] char0n commented on #878
Another polyfill https://npmjs.com/string.prototype.replaceall

[2019-10-31 10:56] char0n opened #1152 "Amend RELEASE to include publishing package to github registry"

[2019-11-01 08:39] #1152 closed

[2019-11-01 08:39] #1140 closed

[2019-11-01 08:44] #1129 closed

[2019-11-01 09:06] char0n commented on #1136
@dshubhadeep the function works exactly the same as [lodash.trimEnd](https://lodash.com/docs/4.17.15#trimEnd). Checkout that function and try to play with it to fully understand it's behavior.

[2019-11-01 09:18] char0n commented on #1103
@jrga03 issue is in master. Go ahead with the implementation if you're still interested.

[2019-11-01 09:19] char0n commented on #1102
Closed by 4a54edd703d0bd9703b80d7622020bfc600cd2a6

[2019-11-01 09:19] #1102 closed

[2019-11-01 09:25] char0n commented on #1102
@M-ZubairAhmed FYI:  I made a following commit to make your contribution more compliant with the codebase. It's just a cosmetic changes mostly: 2dd4113e0d4b55348ed432946464ac85e6de173c

[2019-11-01 09:55] M-ZubairAhmed commented on #1102
@char0n oh sorry you had to again work on it, will keep in mind next time

[2019-11-01 09:59] M-ZubairAhmed commented on #1135
@char0n can i take this

[2019-11-01 10:23] char0n opened #1153 "Testing on node 13"
We're currently testing on node 8, 9, 10, 11, 12. Scope of this issue should be in `.circleci/config.yml`. This is again prolongue our builds, but that what CI is for.

[2019-11-01 10:24] char0n opened #1154 "Remove node 8 testing"
Node.js 8.x is now in LTS! Node v8.9.0 marks the transition of Node v8.x into Long Term Support (LTS), with the codename "Carbon". The v8.x line now moves into "Active LTS", and will remain so until April 2019, at which point it will move into "Maintenance LTS" until December 2019.

This can be done in January 2020. Scope of the issue should be `.circleci/config.yml`

[2019-11-01 10:31] js636f commented on #895
@char0n, here is Batch 3 [PR](https://github.com/char0n/ramda-adjunct/pull/1155)

[2019-11-01 16:37] char0n commented on #1102
@M-ZubairAhmed don't worry about it at all.

I could create code review comments in your PR, but I wanted `padCharsStart` get into the today's v2.22.0 release and incorporate your code immediately.

[2019-11-04 13:26] M-ZubairAhmed commented on #1135
@char0n i need help with this one, i am not able to understand how this function should work, in your example you have written that `_-` should replace the string, why it shouldnt output `-abc-_-`

[2019-11-04 13:39] js636f commented on #895
@char0n, here is Batch 4 [PR](https://github.com/char0n/ramda-adjunct/pull/1156)

[2019-11-04 21:46] char0n commented on #1135
Take a look at [lodash.trimStart](https://lodash.com/docs/4.17.15#trimStart). We need exactly the same behavior. In our case the first argument are the characters in form of string that are replacing the characters at the beginning of a value. So our arguments are
[code]

Now how should it work ? We decompose the `value` into list of characters called `valueCharList` with the following construct `

[2019-11-05 09:49] js636f commented on #895
@char0n, here is Batch 5 [PR](https://github.com/char0n/ramda-adjunct/pull/1157)

[2019-11-05 11:10] char0n commented on #895
Keep it comming ;]

[2019-11-05 11:10] char0n commented on #895
The goal here is to get rid of `eq` function.

[2019-11-06 09:36] js636f commented on #895
@char0n, here is Batch 6 [PR](https://github.com/char0n/ramda-adjunct/pull/1160)

[2019-11-07 10:53] js636f commented on #895
@char0n, here is Batch 7 [PR](https://github.com/char0n/ramda-adjunct/pull/1163)

[2019-11-08 11:18] js636f commented on #895
@char0n, here is Batch 8 [PR](https://github.com/char0n/ramda-adjunct/pull/1165)

[2019-11-10 17:33] char0n commented on #895
Very cool, keep it comming. You're increasing quality of this codebase considerably.

[2019-11-10 17:40] #816 closed

[2019-11-11 08:59] js636f commented on #895
@char0n, I'm happy to help, here is Batch 9 [PR](https://github.com/char0n/ramda-adjunct/pull/1169)

[2019-11-12 08:57] js636f commented on #895
@char0n, here is Batch 10 [PR](https://github.com/char0n/ramda-adjunct/pull/1171)

[2019-11-12 19:28] #1099 closed

[2019-11-13 09:54] js636f commented on #895
@char0n, here is Batch 11 [PR](https://github.com/char0n/ramda-adjunct/pull/1174)

[2019-11-14 12:21] js636f commented on #895
@char0n, here is Batch 12 [PR](https://github.com/char0n/ramda-adjunct/pull/1176)

[2019-11-15 10:12] js636f commented on #895
@char0n. here is Batch 13 [PR](https://github.com/char0n/ramda-adjunct/pull/1177)

[2019-11-18 08:21] js636f commented on #895
@char0n, here is Batcn 14 [PR](https://github.com/char0n/ramda-adjunct/pull/1181)

[2019-11-18 16:09] #895 closed

[2019-11-19 09:08] js636f commented on #895
@char0n. here is Batch 15 [PR](https://github.com/char0n/ramda-adjunct/pull/1182)

[2019-11-20 07:51] js636f commented on #895
@char0n, here is Batch 16 [PR](https://github.com/char0n/ramda-adjunct/pull/1184)

[2019-11-21 09:42] js636f commented on #895
@char0n, here is Batch 17 [PR](https://github.com/char0n/ramda-adjunct/pull/1185)

[2019-11-22 10:09] js636f commented on #895
@char0n, here is Batch 18 [PR](https://github.com/char0n/ramda-adjunct/pull/1187)

[2019-11-25 08:36] js636f commented on #895
@char0n, here is Batch 19 [PR](https://github.com/char0n/ramda-adjunct/pull/1192)

[2019-11-26 11:49] js636f commented on #895
@char0n, here is Batch 20 [PR](https://github.com/char0n/ramda-adjunct/pull/1193)

[2019-11-27 08:22] js636f commented on #895
@char0n, here is Batch 21 [PR](https://github.com/char0n/ramda-adjunct/pull/1195).

All tests in the main folder are ready. Do I need to refactor tests in test/fantasy-land/ and test/internal/?

[2019-11-28 09:29] js636f commented on #895
@char0n, here is Batch 22 [PR](https://github.com/char0n/ramda-adjunct/pull/1196)

[2019-11-29 08:01] char0n commented on #895
@js636f great job here. Thank you!

[2019-11-29 08:01] char0n opened #1197 "New collaborator - @js636f"
@js636f  I've added you as a collaborator to this repository. Feel free to add yourself into package https://github.com/char0n/ramda-adjunct/blob/0dba9905a3fe15bafc7702a188723de5b8f2e406/package.json#L36 via new PR.

[2019-11-29 08:22] char0n commented on #624
@js636f would would you say to help me with this effort ? Is it something you would be interested in ?

[2019-11-29 11:27] js636f commented on #895
@char0n, I'm happy we finished this. Thank you for your help with all this assertions details.

[2019-11-29 11:38] char0n commented on #895
No, problem, any time...

[2019-11-29 11:44] js636f commented on #1197
@char0n, Thank you! [Done](https://github.com/char0n/ramda-adjunct/pull/1198).

[2019-11-30 08:26] char0n commented on #1197
@js636f pls also have a look at following documents:
https://github.com/char0n/ramda-adjunct/blob/master/CODE_OF_CONDUCT.md
https://github.com/char0n/ramda-adjunct/blob/master/GOVERNANCE.md
https://github.com/char0n/ramda-adjunct/blob/master/CONTRIBUTING.md

[2019-12-02 08:51] js636f commented on #1197
@char0n, OK. And I'm waiting for a new task you told me about.

[2019-12-05 15:19] char0n commented on #1197
@js636f it's issue https://github.com/char0n/ramda-adjunct/issues/624. I did mention you there 6 days ago. Sorry for my lack of response last days, having some health issues lately that I'm working on.

[2019-12-05 15:19] #1197 closed

[2019-12-05 17:40] js636f commented on #1197
@char0n, I'm sorry, I think I missed than mention. I wish you good health. That issue is interesting for me, so I'm starting working on it.

[2019-12-05 18:15] char0n commented on #1197
cool glad to hear that. The last function that I rectified was  https://github.com/char0n/ramda-adjunct/blob/master/test/isNotNilOrEmpty.js. Next one is https://github.com/char0n/ramda-adjunct/blob/master/test/isNotNull.js and others that follow alphabetically. Thank you for handling this. You be test master after you're finished here ;]

[2019-12-05 18:24] js636f commented on #1197
Thank you for the additional info. I hope we'll rectify them all :-)

[2019-12-06 09:44] js636f commented on #1197
@char0n, I made Batch 0 [PR](https://github.com/char0n/ramda-adjunct/pull/1201), for #624, I'll use "ref" in the commit message to link RP's to that issue.

[2019-12-08 10:08] M-ZubairAhmed commented on #1135
sorry dropping this one, If anyone would like to take this on, feel free

[2019-12-08 10:21] char0n commented on #1135
No worries.

[2019-12-20 20:10] char0n commented on #26
Current workaround is to open console (F12) and one can start tying code and execute it. `R` representing Ramda and `RA` representing RamdaAdjunct are available.

[2019-12-20 20:36] char0n commented on #191
I'm closing this. Flow seems to have lost it's battle and we have pretty solid typescript typing with layer of DtsLint tests on top of them.

[2019-12-20 20:36] #191 closed

[2019-12-20 20:38] char0n commented on #382
Greenkeeper already updates package-lock.json. We have this file checked-in for some time.

[2019-12-20 20:38] #382 closed

[2019-12-20 20:41] char0n commented on #526
We'll not be using this for now as there is currently no need for it.

[2019-12-20 20:41] #526 closed

[2019-12-24 08:06] char0n opened #1226 "Add possibility to execute our examples directly inside documentation"
Each function in documentation have example demonstrating the usage of the function. Would be great if could come up with the way how to execute these examples inline and directly inside the documentation.

[2019-12-24 08:19] char0n commented on #27
I'm doing a full review now and will create separate issues for every function we may implement.

[2019-12-24 08:19] #27 closed

[2019-12-24 08:32] char0n opened #1227 "renameKey"
**Is your feature request related to a problem? Please describe.**

Renames single key of an object.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

RA.renameKeyWith

**Additional context**

This function should be implemented as specialization of [R.renameKeys](https://char0n.github.io/ramda-adjunct/2.23.0/RA.html#.renameKeys). Ramda cookbook contains [r

[2019-12-24 08:37] char0n opened #1228 "renameKeyWith"
**Is your feature request related to a problem? Please describe.**

Renames single key of an object.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

--

**Additional context**

This function should be implemented as specialization of [R.renameKeysWith](https://char0n.github.io/ramda-adjunct/2.23.0/RA.html#.renameKeysWith).

Related to https://github.com/c

[2019-12-24 08:46] char0n opened #1229 "overlaps"
**Is your feature request related to a problem? Please describe.**

[code]

**Describe the solution you'd like**

Do any of these strings appear in another list?

**Additional context**

This function is part of [ramda cookbook](https://github.com/ramda/ramda/wiki/Cookbook#problem-do-any-of-these-strings-appear-in-another-list).

- [ ] implement the function
- [ ] add ref to ramda cookbook

[2019-12-24 09:06] char0n opened #1230 "rangeStep"
**Is your feature request related to a problem? Please describe.**

[code]

**Describe the solution you'd like**
[code]

**Additional context**

This function was described in [ramda cookbook](https://github.com/ramda/ramda/wiki/Cookbook#create-an-incrementing-or-decrementing-range-of-numbers-with-a-step)

- [ ] imlement the function
- [ ] add ref to ramda cookbook

[2019-12-24 09:09] char0n commented on #945
sortByProps mentioned in [ramda cookbook](https://github.com/ramda/ramda/wiki/Cookbook#sort-a-list-by-array-of-props-if-first-prop-equivalent-sort-by-second-etc)

[2019-12-24 09:34] char0n opened #1231 "raceP"
**Is your feature request related to a problem? Please describe.**

Functional `Promise.race`

**Describe the solution you'd like**
[code]

**Additional context**
Ref https://github.com/char0n/ramda-adjunct/issues/35

[2019-12-24 09:41] char0n commented on #35
Created separate issue for [raceP](https://github.com/char0n/ramda-adjunct/issues/1231)

[2019-12-24 09:45] char0n opened #1232 "catchP"
**Is your feature request related to a problem? Please describe.**

Functional alternative for `Promise.catch`

**Describe the solution you'd like**
[code]
Possible implementation
[code]

**Describe alternatives you've considered**
--

**Additional context**
[Promise.prototype.catch](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/catch)

[2019-12-24 09:45] char0n commented on #35
created separate issue for [catchP](https://github.com/char0n/ramda-adjunct/issues/1232)

[2019-12-24 09:51] char0n opened #1233 "thenCatchP"
**Is your feature request related to a problem? Please describe.**

Extension for currently available [thenP](https://char0n.github.io/ramda-adjunct/2.23.0/thenP.js.html#line3) function.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
[thenP](https://char0n.github.io/ramda-adjunct/2.23.0/thenP.js.html#line3)

**Additional context**
[Promise.prototype.then]

[2019-12-24 09:51] char0n commented on #35
created separate issue for [thenCatchP](https://github.com/char0n/ramda-adjunct/issues/1233)

[2019-12-24 09:52] char0n commented on #35
Not going to implement tapP for now.

[2019-12-24 09:52] #35 closed

[2019-12-24 09:55] char0n commented on #42
Closing this as the best way to implement this will be via reactive programming and not functional one

[2019-12-24 09:55] #42 closed

[2019-12-24 10:14] char0n commented on #70
Most of the function are already adopted here. I've issued a  request for library author for putting info about asimilation into library README file: https://github.com/mediasuitenz/ramda-extended/issues/3

[2019-12-24 10:16] char0n opened #1234 "rmap"
**Is your feature request related to a problem? Please describe.**

Maps list of functions to a value

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
--

**Additional context**
The concept is part of [ramda-extended](https://github.com/mediasuitenz/ramda-extended/blob/master/src/ramda-extended.js)

[2019-12-24 10:18] char0n commented on #67
There is no need for this. Any object can be proper monad if it comply to https://github.com/fantasyland/fantasy-laws

[2019-12-24 10:18] #67 closed

[2019-12-24 13:07] char0n opened #1235 "fnull"
**Is your feature request related to a problem? Please describe.**
fnull is in a function that takes a function as an argument and a number of additional arguments, and returns a function that just calls the original function given. The magic of fnull is that if any of the arguments to the function that it returns are null or undefined, then the original “default” argument is used instead.

**Desc

[2019-12-24 13:07] char0n commented on #66
I've created separate issue for [fnull](https://github.com/char0n/ramda-adjunct/issues/1235)

[2019-12-24 13:12] char0n opened #1236 "isIndexed"
**Is your feature request related to a problem? Please describe.**

To determine if something is an indexed data type. We can start assuming that value is indexed if it's either **String** or **Array** type.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
--

**Additional context**

Originally conceived in https://github.com/char0n/ramda-adjunct/issues/66

[2019-12-24 13:13] char0n commented on #66
I've created separate issue for [isIndexed](https://github.com/char0n/ramda-adjunct/issues/1236)

[2019-12-24 13:15] char0n commented on #66
repeatedly is basically an alias of [R.times](https://ramdajs.com/docs/#times)

[2019-12-24 13:19] char0n commented on #66
`hasKeys` will not be implemented as it seems very very specialized. But can be easily implemented using `R.allPass([R.has('key1'), R.has('key2')])`

[2019-12-24 13:29] char0n opened #1237 "skipTake"
**Is your feature request related to a problem? Please describe.**

When given a number n and an array, returns an array containing every nth element

`R.addIndex(R.takeWhile)` with specialized predicate can be used to implement this function.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

I've considered [R.takeWhile](https://ramdajs.com/docs/#takeWhil

[2019-12-24 13:30] char0n commented on #66
I've created separate issue for [skipTake](https://github.com/char0n/ramda-adjunct/issues/1237)

[2019-12-24 13:38] char0n opened #1238 "trampoline"
**Is your feature request related to a problem? Please describe.**

All that trampoline does is repeatedly call the return value of a function until it’s no longer a function

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
--

**Additional context**

The code and exmplanation comes from book Functional Javascript by Michael Fogus.
Possible implementation

[2019-12-24 13:38] char0n commented on #66
I've create separate issue for [trampoline](https://github.com/char0n/ramda-adjunct/issues/1238)

[2019-12-24 13:47] char0n commented on #66
@fogus closing this as most have been implemented and what remains has been fragmented into separate independent issues from this issue comments. Again, thank you for the book!

[2019-12-24 13:47] #66 closed

[2019-12-24 13:52] char0n commented on #70
Closing this as IMHO this is done.

[2019-12-24 13:52] #70 closed

[2019-12-24 13:58] char0n commented on #74
Not sure what I ment here. CLosing.

[2019-12-24 13:58] #74 closed

[2019-12-24 14:15] char0n commented on #94
Closing this as Ramda contains proper implementation of transducers

[2019-12-24 14:15] #94 closed

[2019-12-24 14:19] char0n opened #1239 "invokeArgs"
**Is your feature request related to a problem? Please describe.**

Invokes the method at path of object with given arguments. Very important requirement for this function is that if method doesn't exists the function returns undefined. This makes this function always safe.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
--

**Additional context**

[lodas

[2019-12-24 14:25] char0n commented on #99
We discontinue this effort. ramda-extension seems to be still evolving.

[2019-12-24 14:25] #99 closed

[2019-12-24 14:27] char0n commented on #103
Not relevant anymore.

[2019-12-24 14:27] #103 closed

[2019-12-24 14:31] char0n commented on #106
RA.round is already implemented. Transforming this issue into R.roundTo.

[2019-12-24 14:41] char0n commented on #112
Nobody request this. Closing.

[2019-12-24 14:41] #112 closed

[2019-12-24 14:44] char0n commented on #115
We'll not be assimilating this library. Maybe in future will be worth looking again.

[2019-12-24 14:44] #115 closed

[2019-12-24 14:49] char0n commented on #124
Closing this. BOuntysource page doesn't even work correctly.

[2019-12-24 14:49] #124 closed

[2019-12-24 14:53] char0n commented on #116
This is so exotic that I'm going to put it on hold until there is somebody else that really needs it.

[2019-12-24 15:02] char0n commented on #133
Async await in mocha tests open world of different opportunities for us. No need to chai as promisedany more.

[2019-12-24 15:02] #133 closed

[2019-12-24 15:04] char0n commented on #159
Exotic function. not going to implement.

[2019-12-24 15:04] #159 closed

[2019-12-24 15:07] char0n commented on #542
We have PR drafts now.

[2019-12-24 15:07] #542 closed

[2019-12-24 15:10] char0n commented on #676
THere's been no followup here. CLosing.

[2019-12-24 15:10] #676 closed

[2019-12-24 15:16] char0n commented on #313
We use commit lint and husky, git staged and have a CONTRIBUTING.md document that documents creating commit messages. I think that is enought.

[2019-12-24 15:16] #313 closed

[2019-12-24 15:26] char0n commented on #250
We're only missing Psi combinator. Great job on documenting all the combinators! THank you

[2019-12-24 15:26] #250 closed

[2019-12-24 15:32] char0n commented on #250
Created a wiki page from this: https://github.com/char0n/ramda-adjunct/wiki/Combinators

Would be shame to go to limbo.

[2019-12-24 19:39] char0n commented on #975
@renatorib have you been able to come up with something better? I’m putting this function out for somebody to implement.

[2019-12-25 10:01] char0n opened #1240 "sortByPath"
**Is your feature request related to a problem? Please describe.**

Sorts the list according to the supplied path

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

---

**Additional context**

Original issue: https://github.com/char0n/ramda-adjunct/issues/945

[2019-12-25 10:03] char0n opened #1241 "sortByProp"
**Is your feature request related to a problem? Please describe.**

Sorts the list according to the supplied prop

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

---

**Additional context**

Original issue: https://github.com/char0n/ramda-adjunct/issues/945
Blocked by #1240. This function should be implemented as a specialization of [sortByPath](#1240)

[2019-12-25 10:06] char0n opened #1242 "sortByProps"
**Is your feature request related to a problem? Please describe.**

Sort a List by array of props (if first prop equivalent, sort by second, etc.)

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

--

**Additional context**

This is a [ramda cookbook](https://github.com/ramda/ramda/wiki/Cookbook#sort-a-list-by-array-of-props-if-first-prop-equivalent-sort-b

[2019-12-25 10:09] char0n commented on #945
I've extracted 3 issues from your descriptions that are references under this issue. If you with to also extract `orderBy` functions, which I'm not sure about their behavior, pls use new feature template when creating a new issue and describe in details the behaviour and possible implementation. Thank you!

[2019-12-25 10:09] #945 closed

[2019-12-25 10:29] char0n commented on #926
@EarthyOrange can you pls verify this issue ? Thank you!

[2019-12-27 09:27] char0n commented on #624
@js636f thank you for doing great job! Last 3 days I've spent 40 hours so far to increase quality of our issues as part of https://github.com/char0n/ramda-adjunct/issues/1069. I've already transformed half of our issues. Feel free to take any one of them If you feel to and there is no need for you to always just work on this one. So...feel free to grab any issue with `Feature` and `Help wanted` la

[2019-12-28 10:10] char0n commented on #1118
We discussed the viability of this function with TC39 proposal author and he agrees the function make sense if the library (R, RA) already support polymorphic functions.

[2020-01-02 11:04] js636f commented on #624
@char0n, thank you! I think I'll close this issue first.

[2020-01-04 18:18] char0n commented on #846
We'll not be supporting thunks. Even [co](https://github.com/tj/co) library is moving away from thunks now and considers the API deprecated. To support thunks we would have to abstract the return value of of the `async` function. Now the functions returns explicitly promise.

[2020-01-04 18:18] #846 closed

[2020-01-04 20:31] char0n commented on #720
Closing this. Not a good idea to look for big prime numbers in javascript ;]

[2020-01-04 20:31] #720 closed

[2020-01-04 20:40] char0n commented on #719
Closing for now. Haven't seen any upvotes here in a year.

[2020-01-04 20:40] #719 closed

[2020-01-04 20:46] char0n commented on #262
Closing for inactivity for now.

[2020-01-04 20:46] #262 closed

[2020-01-04 20:50] char0n commented on #263
Agree, very high level for this library.

[2020-01-04 20:50] #263 closed

[2020-01-04 21:06] char0n commented on #302
No update for two years now. We'll have to stick with current theme for now.

[2020-01-04 21:06] #302 closed

[2020-01-04 21:24] char0n opened #1253 "isBigInt"
**Is your feature request related to a problem? Please describe.**

Predicate for determining if a value is a big int.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

--

**Additional context**

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

[2020-01-05 06:44] kitasuna commented on #1135
@char0n Hi! Mind if I open a PR for this one?

[2020-01-05 08:09] char0n commented on #1135
@kitasuna go ahead!

[2020-01-06 10:37] char0n commented on #372
Had a usecase for this again today.

[2020-01-07 20:37] char0n commented on #789
I don't think we need this function. Native javascript [Boolean](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean) handles all javascript values without throwing and divides all values into truthy and falsy groups.

[2020-01-07 20:37] #789 closed

[2020-01-07 20:52] char0n opened #1260 "toFinite"
**Is your feature request related to a problem? Please describe.**

Converts `value` to a finite number.

**Describe the solution you'd like**
[code]
Possible implementation:
[code]

**Describe alternatives you've considered**
--

**Additional context**

Currently blocked by [toNumber](#788) issue.

[2020-01-08 07:06] #1135 closed

[2020-01-14 12:32] kitasuna commented on #1136
@char0n Mind if I grab this one too?

[2020-01-14 13:01] char0n commented on #1136
@kitasuna go ahead. YOu can grab any feature you want labeled by `feature` and `help wanted`

[2020-01-15 07:57] char0n commented on #791
valueOf will be internal part of #792 (toPrimitive). If there will be strong reason to expose it, we will.

[2020-01-15 07:57] #791 closed

[2020-01-15 08:55] char0n commented on #477
I'm closing this one for now. As this library primarily focuses on predicates and coercions on actual types. For asserting if the string is a number we would have to coerce it to number anyway and use existing predicates.

[2020-01-15 08:55] #477 closed

[2020-01-15 08:56] char0n commented on #469
This haven't seen activity for more than year and a half, closing for now.

[2020-01-15 08:56] #469 closed

[2020-01-18 08:35] #1136 closed

[2020-01-19 19:19] char0n opened #1278 "toUinteger32"
**Is your feature request related to a problem? Please describe.**
Convert double-precision 64-bit binary format IEEE 754 to unsigned 32 bit integer number.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

---

**Additional context**

We also need to alias this function as: **toUint32**

http://speakingjs.com/es5/ch11.html#integers_via_bitwise_operators

R

[2020-01-19 19:29] char0n commented on #764
I don't think this make sense. In JavaScript, class is still a sugar-coating on top of prototype system. Another problem is transpilation. Currently vast amount of JS is being transpiled  so the predicated will only work on environment where code is not being transpiled.

[2020-01-19 19:29] #764 closed

[2020-01-19 19:58] char0n commented on #661
I'm not convinced this is needed. R.fromPairs and R.merge can do the job.

For case of reduction
[code]

[2020-01-19 19:58] #661 closed

[2020-01-21 19:10] char0n opened #1281 "isUinteger32"
**Is your feature request related to a problem? Please describe.**
Predicate to determine if the integer is  32 bits, unsigned, range [0, 2 ** 32)

**Describe the solution you'd like**

IMHO no need to check for the range but rather doing comparison like this would suffice:
[code]

**Describe alternatives you've considered**

Checking for the actual 32bit unsigned range of [0, 2 ** 32)

**Addition

[2020-01-21 19:14] char0n opened #1282 "isInteger32"
**Is your feature request related to a problem? Please describe.**
Predicate to determine if an integer is 32 bits, including a sign, range [−2 ** 31, 2 ** 31)

**Describe the solution you'd like**
IMHO no need to check for the range but rather doing comparison like this would suffice:
[code]

**Describe alternatives you've considered**
Checking for the actual 32bit signed range of range [−2 ** 31

[2020-01-21 19:38] char0n commented on #609
It's an effect. It doesn't have place in FP library.

[2020-01-21 19:38] #609 closed

[2020-01-26 15:18] char0n commented on #457
Already doing that. We're using `browser` and `browser-legacy`

[2020-01-26 15:18] #457 closed

[2020-01-26 15:20] char0n commented on #587
Closing for now. Haven't seen any upvote here for almost 2 years. But still, very good idea!

[2020-01-26 15:20] #587 closed

[2020-01-26 15:24] char0n commented on #534
Very very specific a can be easily implemented inplace when needed. If more people request this I'm for it.

[2020-01-26 15:24] #534 closed

[2020-01-26 15:24] char0n commented on #556
Very very specific a can be easily implemented inplace when needed. If more people request this I'm for it.

[2020-01-26 15:24] #556 closed

[2020-01-26 15:27] char0n commented on #480
IMHO this is covered properly now.

[2020-01-26 15:27] #480 closed

[2020-01-26 15:33] char0n commented on #419
I'm closing this for now. As we have no need, nor plans for other related RA stuff I'm putting this onhold. Thank you all for sharing your opinions here!

[2020-01-26 15:33] #419 closed

[2020-01-28 16:47] #1103 closed

[2020-02-04 19:35] char0n commented on #318
I have no problem for switching to rollup. If anybody will take this endeavor I'd be happy. I'm closing this issue for now as it had no activity for 2 years.

[2020-02-04 19:35] #318 closed

[2020-02-04 19:43] char0n commented on #392
This has been implemented in v2.8.0 already. THank you!

[2020-02-04 19:43] #392 closed

[2020-02-05 14:10] drupol commented on #250
Hi all,
I'm coming across this issue while searching for a combinator stuff on Google.
I don't know if you are still looking for documentation about this, but I made [a package](https://github.com/loophp/combinator) with [a README file](https://raw.githubusercontent.com/loophp/combinator/master/README.md) that contains stuff about combinators.
Let me know if it helped!

[2020-02-05 14:34] drupol commented on #634
The Haskell implementation of `On` is `const on = curry((f, g, x, y) => g(f(x), f(y)));`.

However, I would not use the comma to separate the terms, I would rather write it this way:

`const on = curry((f, g, x, y) => g(f(x))(f(y));`

See a PHP implementation [here](https://github.com/loophp/combinator/blob/master/src/Combinator/Psi.php#L65).

[2020-02-06 08:45] char0n commented on #250
@drupol good stuff, let me study it for a while and then I'll get back to you. Great job on implementing combinators in PHP!

[2020-02-06 08:49] char0n commented on #634
Thanks for your comment. [fantasy-land combinators](https://github.com/fantasyland/fantasy-combinators/blob/master/src/psi.js) defines psi combinator as following:
[code]
It's almost the same as your suggested signature, but the order of execution of `f` and `g` is reversed. Any idea why that is?

[2020-02-06 08:50] drupol commented on #250
Thanks ! Feel free to ping me if you discover something wrong :)

[2020-02-06 08:53] drupol commented on #634
You're right, my comment was wrong. I updated it.

The correct implementation is: `const on = curry((f, g, x, y) => f(g(x))(g(y));`

[2020-02-09 10:31] char0n commented on #508
Closing this for now. The source code of the function is directly accessible from documentation anyway.

[2020-02-09 10:31] #508 closed

[2020-02-09 10:37] char0n commented on #511
AFAICT `R.hasPath/RA.hasPath` is working correctly here:

[code]

[2020-02-09 10:37] #511 closed

[2020-02-09 10:43] char0n commented on #490
Closing this for now. This should be possible to implement with `lazy string template literals concept` by creating ad-hoc curried functions when creating function composition.

https://stackoverflow.com/questions/30003353/can-es6-template-literals-be-substituted-at-runtime-or-reused

[2020-02-09 10:43] #490 closed

[2020-02-09 11:02] char0n commented on #481
I can see a place for a negation of `R.test`. But to come up with the name would be pretty interesting ;]

[2020-02-09 11:02] #481 closed

[2020-02-09 11:08] char0n commented on #479
Can be used as following in newer versions of javascript

[code]

[2020-02-09 11:08] #479 closed

[2020-02-09 11:48] char0n commented on #409
@GingerPlusPlus thanks for explanation. I've provided a PR that solves the issue.

[2020-02-09 11:49] char0n commented on #408
No upvotes here, closing.

[2020-02-09 11:49] #408 closed

[2020-02-09 11:54] char0n commented on #389
Closing this one for now.

[2020-02-09 11:54] #389 closed

[2020-02-09 11:55] char0n commented on #363
Closing for now. No upvotes for sar.

[2020-02-09 11:55] #363 closed

[2020-02-09 17:41] char0n commented on #349
I'm closing this one. Haven't seem upvotes for this outside our group.

[2020-02-09 17:41] #349 closed

[2020-02-09 17:41] char0n commented on #348
I'm closing this one. Haven't seem upvotes for this outside our group.

[2020-02-09 17:41] #348 closed

[2020-02-09 17:44] char0n commented on #1069
Quality of all issues has been increased and all have now consistent format. Every one of our issue should be now executable either by core contributor or by community contributor.

[2020-02-09 18:22] #409 closed

[2020-02-16 12:20] char0n opened #1317 "Automatically retry builds for 3-times before total failure"
**Is your feature request related to a problem? Please describe.**

We spend a lot of time rerunning the builds. We need to do this automatically.

**Describe the solution you'd like**

3 automatic reruns before total build failure

**Describe alternatives you've considered**

Doing this manually as before.

**Additional context**
https://discuss.circleci.com/t/automatically-retry-failed-builds/26

[2020-02-19 11:23] char0n commented on #1069
Everything processed

[2020-02-19 11:23] #1069 closed

[2020-02-19 15:14] sidag95 commented on #1235
Can I take a pass at the above?

[2020-02-19 18:17] char0n commented on #1235
@sidag95 sure you can. Let me know if you have any questions.

[2020-02-20 03:16] sidag95 commented on #1235
Thanks @char0n will ask if and when I have any questions

[2020-02-25 23:43] Mxchaeltrxn commented on #1240
Hey I can try do this

[2020-02-26 01:14] rjhilgefort commented on #1233
Took a shot at this in https://github.com/char0n/ramda-adjunct/pull/1322!

[2020-02-26 06:55] Mxchaeltrxn commented on #1240
@char0n This seems very similar to sortByProps except that this also works for lists of lists. What exactly is meant by 'path'?

[2020-02-28 11:24] damiangreen opened #1330 "the type of `list` is not `readonly` for `mapIndexed`"
the type of the input argument `list` is not `readonly`  for the `mapIndexed` function

This is the type definition of `mapIndexed`
   `mapIndexed<T, U>(iterator: (elem: T, key: number, list: T[]) => U): (list: T[]) => U[];`

To tell the compiler its immutable we're forced to coerce;
`   mapIndexed(renderItem)(renderItems as T[])`

**Expected behavior**
If list is not mutated I expect the type to

[2020-02-28 14:07] char0n commented on #1330
@damiangreen thank you!

Would you mind issuing a PR for that? And maybe also provide [typings test](https://github.com/char0n/ramda-adjunct/tree/master/types/test) to verify correct behavior?

[2020-02-28 18:29] char0n commented on #1240
@Mxchaeltrxn I've assigned it to you. But first let's focus on https://github.com/char0n/ramda-adjunct/pull/1323. There is still lot of work to be done there. After we're finished there, you'll already know how submit another PR. Thanks.

[2020-03-06 16:28] char0n commented on #1240
@Mxchaeltrxn there is nothing stopping you to start working on this. Go ahead and good luck!

[2020-03-06 18:09] #1235 closed

[2020-03-06 21:23] Mxchaeltrxn commented on #1240
@char0n I'm a little confused as to why this function partly does the same thing as sortByProps. It makes more sense to me to make it work for lists of lists only because the other functionality was just written

[2020-03-07 12:09] #1242 closed

[2020-03-07 12:18] char0n commented on #1240
@Mxchaeltrxn good point. I've modified the issue description to reflect your comment.

[2020-03-08 22:35] damiangreen commented on #1236
I'm having a crack at this one

[2020-03-09 07:56] #1330 closed

[2020-03-09 07:57] char0n commented on #1236
Go ahead and good luck!

[2020-03-09 21:20] damiangreen commented on #1237
I've got a working implementation of this. I can create a PR once I've created tests

[2020-03-10 14:45] char0n opened #1340 "Migrate from internal curry1 to standard curryN"
**Is your feature request related to a problem? Please describe.**

Remove dependency on internal ramda API

**Describe the solution you'd like**
Before
[code]
After
[code]

**Describe alternatives you've considered**

Leaving status quo

**Additional context**

The less internal ramda API we use the better.

[2020-03-12 12:16] #1236 closed

[2020-03-12 13:23] willblake01 commented on #1340
@charOn Can I have this one please? I am very inexperienced but I believe I have a solution for this. Thanks!

[2020-03-12 16:05] char0n commented on #1340
@willblake01 sure go ahead. This is mostly manual work, checkout the updated description of the issue with there the `curry1` and `curryN` comes from. Do the work in batches, 3-5 files per Pull Request. And GOOD LUCK!

[2020-03-12 17:58] willblake01 commented on #1340
@charOn Thank you so much! Sorry, this is all new to me. I tried to push to my branch and got the following error:

remote: Permission to char0n/ramda-adjunct.git denied to willblake01.
fatal: unable to access 'https://github.com/char0n/ramda-adjunct/': The requested URL returned error: 403

[2020-03-13 01:42] willblake01 commented on #1340
@char0n I forked the repo and created a PR for the first batch of 5. I'm unable to add you as a reviewer, am I missing something?

[2020-03-14 09:31] char0n commented on #1340
Repo maintainers have to assign people for review, don't worry I'll assign my self.

@willblake01 you have to fork a repo before starting to work on it. You simply don't have permission to this repo, so forking mechanism exists to be able to clone the repo and start working on it: https://help.github.com/en/github/getting-started-with-github/fork-a-repo

I'll attend to you PR shortly. THank you

[2020-03-14 09:49] char0n opened #1346 "filterIndexed"
**Is your feature request related to a problem? Please describe.**

[R.filter](https://ramdajs.com/docs/#filter) doesn't expose index to the predicate function. Let's create a function that does and call it `filterIndexed`.

**Describe the solution you'd like**
[code]
Possible implementation
[code]
**Describe alternatives you've considered**

--

**Additional context**

--

[2020-03-16 15:57] #1237 closed

[2020-03-16 18:46] char0n opened #1357 "Migrate greenkeeper to snyk"
**Is your feature request related to a problem? Please describe.**
Migrate greenkeeper to snyk

**Describe the solution you'd like**
Automatic dependency updates

**Describe alternatives you've considered**
Dependabot. Can dependabot replace snyk ?

**Additional context**

--

[2020-03-16 20:17] willblake01 commented on #1340
@char0n I only see 5 more instances of the internal ramda API but they are not included in the ramda library. I'm unsure how to proceed. Are you needing solutions to removing those dependencies on the internal ramda API?

[2020-03-16 20:24] char0n commented on #1340
@willblake01 I see that you already cleared the codebase from `curry1`. There are no more occurrences. I'll create separate issues for all other ramda internals with documentation how to proceed and I'll ping you with those (probably tommorow). Thank you for processing this issue! Nicely done.

The changes you made are alredy released in v2.26.0: https://www.npmjs.com/package/ramda-adjunct/v/2.26.

[2020-03-16 20:24] #1340 closed

[2020-03-16 21:20] willblake01 commented on #1346
@char0n Hi, I'd like to try this one please!

[2020-03-17 07:57] char0n commented on #1346
Go ahead

[2020-03-18 18:27] char0n opened #1360 "isString"
**Is your feature request related to a problem? Please describe.**
We currently have implementation, but implementation depends on ramdas internal `isString` function. We need to come up with our own implementation

**Describe the solution you'd like**
This is one of possible implementations.
[code]

**Describe alternatives you've considered**
[code]

**Additional context**

--

[2020-03-18 18:28] char0n commented on #1360
@willblake01 possible candidate for you.

[2020-03-18 18:34] char0n opened #1361 "isPlainObj"
**Is your feature request related to a problem? Please describe.**
`isPlainObj/isPlainObject` contains reference of ramdas internal `_isObject` function. We need to remove reference to this internal function and replace it with appropriate code.

**Describe the solution you'd like**

Internal `_isObject` can be replaced by
[code]

**Describe alternatives you've considered**

--

**Additional conte

[2020-03-18 18:34] char0n commented on #1361
@willblake01 possible candidate for you.

[2020-03-18 18:36] char0n opened #1362 "isNumber"
**Is your feature request related to a problem? Please describe.**
`isNumber` function uses ramdas internal `_isNumber` function. We have to ger rid of this reference and replace by our own implementation.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
[code]

**Additional context**

--

[2020-03-18 18:36] char0n commented on #1362
@willblake01 possible candidate for you.

[2020-03-18 18:40] char0n opened #1363 "isArray"
**Is your feature request related to a problem? Please describe.**
`isArray` functions uses internal ramdas `_isArray` function to determine if the value is an array. We have to get rid of this reference with our own check.

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**
[code]

**Additional context**

--

[2020-03-18 18:40] char0n commented on #1363
@willblake01 possible implementation candidate for you.

[2020-03-18 18:53] char0n opened #1364 "flattenDepth"
**Is your feature request related to a problem? Please describe.**
`flattenDepth` function contains reference to internal ramda function called `_makeFlat` which further makes reference to `_isArrayLike`. We have `_isArrayLike` function implemented in ramda-adjunct, so we only need to reimplement `makeFlat` into our codebase. Be aware that function just cannot be copied due to licensing reasons, i

[2020-03-18 18:53] char0n commented on #1364
@willblake01 this is possible candidate for you.

[2020-03-19 17:17] willblake01 commented on #1364
@char0n This one would be a good challenge. I'm looking over it but I don't see isArrayList. Just want to confirm, did you mean isArrayLike?

[2020-03-19 19:44] #1360 closed

[2020-03-19 20:06] #1363 closed

[2020-03-20 10:48] #1361 closed

[2020-03-20 12:01] #1362 closed

[2020-03-22 08:43] #1357 closed

[2020-03-22 08:46] char0n commented on #1357
We'll use dependabot for now.

[2020-03-22 10:25] danieldeer commented on #1253
Hi there, I'm going to work on it

[2020-03-29 12:27] tranhl opened #1386 "`isAsyncFunction` fails when checking an async function transpiled via Babel to ES5."
If a fix is not possible, then I believe that this edge case should be added to the docs.

**To Reproduce**
1. Write an async function declared with the `async` keyword.
2. Call `isAsyncFunction` on it.
3. Transpile the async function with Babel to ES5.
4. Call `isAsyncFunction` again, and note

**Expected behavior**
`isAsyncFunction` works on async functions after transpilation.

[2020-03-30 09:00] char0n commented on #624
@js636f how are we looking here? Are we done here?

[2020-03-30 09:10] char0n commented on #1386
Yes this can cause dangerous bugs in your code. But we've dealt with this problem before and the current strategy is not to handle this because I don't think this is a problem we can solve. We build our predicate functions on behavior of native EcmaScript features specified in EcmaScript specification. We cannot compensate for cases of transpilers like babel transpiling one form of JavaScript code

[2020-03-31 16:56] #1233 closed

[2020-04-01 18:21] damiangreen opened #1392 "Debounce / Throttle"
**Is your feature request related to a problem? Please describe.**
See https://github.com/ramda/ramda/issues/1041

**Describe the solution you'd like**
An implementation of `debounce` so we don't need to use `lodash`

**Describe alternatives you've considered**
`lodash`

[2020-04-01 18:46] char0n commented on #1392
I tend to share the same opinion as expressed by many people in the [issue](https://github.com/ramda/ramda/issues/1041) you mentioned. R and RA are side-effect free libraries. Debounce adn Trottle are by definition not side-effect free functions and are not referential transparent.

R and RA are designed as libraries for data transformations. I don't think these functions belong to those libraries

[2020-04-01 19:50] damiangreen commented on #1392
I was aiming to eliminate lodash entirely from our codebase, and there are only a handleful of functions we turn to turn to lodash for. The other functions we use in lodash are string handling ones, which I have just discovered today https://ramda-extension.firebaseapp.com/docs/ has.

Personally I'd rather import one package and lose strict purity than require multiple. But I guess there are argum

[2020-04-01 20:05] char0n commented on #1392
I understand the argument. I have the same goal. Having a standard library for almost everything. But still installing `npm i debounce` pose no problem. No need to install big lodash.

Regarding `ramda-extension` be very carefull when using this library. We have an initial research about string manipulation functions - https://github.com/char0n/ramda-adjunct/issues/391. Precursor for this is to im

[2020-04-01 20:12] damiangreen commented on #391
Also `upperFirst`, `truncate` would be useful

[2020-04-03 03:48] tranhl commented on #1386
After doing some research myself, I'm in agreement that supporting Babel-fied code is practically impossible. Writing code in a way that does not requre `isAsyncFunction` seems to be the best practice.

How about adding a warning to the documentation that states `isAsyncFunction`'s behavior is unreliable in transpiled environments?

[2020-04-03 06:41] char0n opened #1394 "Note in README, that some functions may report false negative when being traspiled"
**Is your feature request related to a problem? Please describe.**

Let's add section to README, warning users of the library that some functions in the library may report false negative or behave unexpectedly when functions are used on transpiled code.

**Describe the solution you'd like**

Notice in README file

**Describe alternatives you've considered**

--

**Additional context**

https://git

[2020-04-03 06:42] char0n commented on #1386
Agree, it's almost impossible. This problem easily concerns 40% of our functions, depending what env we want to target with transpilation. You can target even node `0.10.0` with transpilation.

Good idea: https://github.com/char0n/ramda-adjunct/issues/1394

Thank you!

[2020-04-03 06:42] #1386 closed

[2020-04-03 07:22] char0n commented on #624
Closing this as we have last PR approved. @js636f great job here!

[2020-04-03 07:22] #624 closed

[2020-04-03 09:20] js636f commented on #1239
@char0n, may I work on this?

[2020-04-03 11:02] char0n commented on #1239
@js636f go ahead. Remember that this function must be `safe`. `Safe` in a sense that when the method on the object path doesn't exists or the symbol at path is not a function the function must return `undefined`. It must never throw Error.

[2020-04-03 11:05] js636f commented on #1239
OK, thanks! I'll keep this in mind.

[2020-04-16 19:08] #1154 closed

[2020-04-17 07:10] char0n opened #1410 "Remove node 9 testing"
Node.js 10.x is now in LTS! Node 9 have no commits anymore.

Scope of the issue should be .circleci/config.yml

[2020-04-17 13:43] #1410 closed

[2020-04-19 04:21] kawazoe opened #1412 "[Regression] Changes to isIterable breaks type safety"
**Describe the bug**
[This change](https://github.com/char0n/ramda-adjunct/commit/e7b35e58ba597ef2ff98fa022fadd467b2c5ab09#diff-88bec6beae84369c0376b56b3bb88fe1L52) causes compilation errors

**To Reproduce**
[code]

**Expected behavior**
Should compile.

**Actual behavior**
Fails to compile since isIterable is not a type guard function. Replacing `Iterable<T>` with `T[]` and `isIterable(value)` w

[2020-04-20 07:13] char0n commented on #1412
I can return the typing to original form. At this point I don't remember why I made the change. Possibly it was due to some linting issue that `dstlint` was reporting and maybe Typescript version support.

[2020-04-20 07:13] char0n commented on #1412
If you'll provide a PR and all the tests will pass, I'll accept the PR.

[2020-04-22 15:26] #1412 closed

[2020-04-24 19:18] char0n commented on #1364
@willblake01 sorry, is was `isArrayLike`. I've corrected the issue description.

[2020-05-01 07:12] #1253 closed

[2020-05-09 18:52] char0n opened #1440 "isNaturalNumber"
**Is your feature request related to a problem? Please describe.**

Predicate determining if the number is a natural number. Natural numbers according to ISO 80000-2 corresponds to the non-negative integers 0, 1, 2, 3

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

Excluding zero from the non-negative integers. Though non-negative integers + 0 seems to be

[2020-05-11 06:22] daksh-goyal commented on #1440
@char0n what help do you want on this? How could I contribute?

[2020-05-11 08:57] char0n commented on #1440
@daksh-goyal you can implement the `isNaturalNumber` function and issue a PR. This is an example how the [PR](https://github.com/char0n/ramda-adjunct/pull/1406/files) could look like.

[2020-05-11 09:01] #1153 closed

[2020-05-11 09:03] char0n opened #1442 "Testing on node 14"
We're currently testing on node  10, 11, 12, 13. Scope of this issue should be in .circleci/config.yml. This is again prolonging our builds, but that what CI is for. Node 14 should be the default image for all the jobs except tests for specific node versions. Currently node 13 is the default.

Related to #1153

[2020-05-12 08:02] tomokos2 commented on #1440
@char0n Hi, I am a first time contributor, and I implemented `isNaturalNumber ` according to the PR guidelines. I have also confirmed that all of my test cases pass. All I have left to do is submit the pull request. However, I am having trouble doing so because of errors with prettier and eslint.

To be specific, when committing the code, I get this error: ` error  Delete `␍`  prettier/prettier`
T

[2020-05-12 17:39] yadunandanbhat commented on #1440
I can change the documentation.

[2020-05-14 12:29] #1123 closed

[2020-05-14 12:30] char0n commented on #1122
Closed by #1433

[2020-05-14 12:30] #1122 closed

[2020-05-15 13:25] #1364 closed

[2020-05-22 19:54] OliverRadini commented on #783
Can I pick this up? Interested in contributing

[2020-05-23 09:14] char0n commented on #1346
Issue available to pick up again by anybody interested.

[2020-05-23 09:16] #1442 closed

[2020-05-23 09:16] char0n commented on #783
@OliverRadini sure, go ahead!

[2020-05-23 09:19] char0n commented on #1440
@yadunandanbhat go ahead, issue a PR.

[2020-05-23 09:23] char0n commented on #1440
@tomokos2 sorry for reacting late. If you're having the problem you're describing please `npm run lint:fix`. When running this command, the linter fixes all problems for you. This message comes from [prettier](https://prettier.io/), which guarantees that our code looks consistent regardless of who produced it.

I'm seeing a PR already done by somebody else for `isNaturalNumber`. Would you be able

[2020-05-24 20:14] tomokos2 commented on #1440
I see, thanks so much. I will work on a different issue

[2020-05-26 20:16] pokimochi commented on #1278
@char0n Hi! Can I take a crack at this?

[2020-05-29 16:47] AHB commented on #372
@char0n Mind if I pick this up?

[2020-05-29 19:45] char0n commented on #1278
@pokimochi go ahead!

[2020-05-29 20:07] char0n commented on #372
@AHB go ahead!

[2020-05-30 21:40] tomokos2 commented on #903
Hi, may I work on this?

[2020-05-31 00:06] tomokos2 commented on #903
There are references to Polyfill inside the babel files as well, but should I rename those as well?

[2020-06-07 09:46] char0n commented on #903
@tomokos2 sure go ahead and git it a try!

Not sure I understand what you mean by this. Can you be more specific?

[2020-06-09 19:33] tomokos2 commented on #903
Hi, I made a PR regarding this issue, but I am not passing a test in code climate for the PR. I did not change any code for that specific file, so I am unsure of what to do in order to pass the test. I have attached a picture of the failed test as reference.
[
![Screenshot (516)](https://user-images.githubusercontent.com/54867150/84191457-22759380-aa5e-11ea-8ae0-e39ef81ce3c3.png)
](url)

[2020-06-13 14:55] char0n commented on #903
Don't worry about that one. I need to approve it explicitly in codeclime. It has been approved in past, but because of the renaming I have to re-approve it again. This code is directly adopted from [MDN site](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/repeat#Polyfill).

[2020-06-13 15:01] #903 closed

[2020-06-13 15:36] #783 closed

[2020-07-06 17:35] char0n opened #1520 "Switch to dependabot v2"
Dependabot is moving natively into GitHub. Need to create v2 config PR to active it.

[2020-07-13 02:33] Samarath commented on #1282
Hey can i work on this. This is my first time to contribute in open-source projects.

[2020-07-13 19:45] char0n commented on #1282
@Samarath sure go ahead!

[2020-07-13 19:48] char0n commented on #1282
[toInteger](https://github.com/char0n/ramda-adjunct/issues/783) is already implemented, thus this issue is no longer blocked.

[2020-07-22 15:32] holden-caulfield commented on #415
Another reason to justify this is that `min` does not work as expected with lists of only one item. It assumes you are doing a partial application.

In some scenarios (when the `length` of what you are passing `min` to is variable) it would be nice to force non-partial application to avoid checking for the special case of a single item list.

[2020-07-28 17:54] #1278 closed

[2020-07-29 19:04] srghma opened #1542 "trimCharsEnd - trims wrongly"
**Describe the bug**

trims 1 extra char

**To Reproduce**

[code]

[code]

[2020-07-29 19:08] srghma commented on #1542
my bad, works right

[2020-07-29 19:08] #1542 closed

[2020-07-30 18:34] jprask commented on #1346
@char0n Hey, might I try this one?

[2020-08-05 17:45] FelipeParreira commented on #287
It is actually the complement of `xor`, right?

[2020-09-11 08:16] meszaros-lajos-gyorgy opened #1573 "incorrect ponyfill for replaceAll()"
Hi! I was experimenting with `replaceAll()` from ramda adjunct version `2.27.0` and found the internal ponyfill has some inconsistencies with the native browser version.

Here is the code I tried in both browser and runkit:

[code]

( runkit code can be seen here: https://runkit.com/embed/xb4qhttrwooh )

It turns out, that the new implementation of `String.prototype.replace()` has a few special ch

[2020-09-12 10:48] js636f commented on #1573
Hi!

Thank you for the detailed issue description.

I'm working on it.

[2020-09-13 09:26] char0n commented on #1573
Hi Guys,

I'm inclined to use `R.replace` as base for implementation for `replaceAll` ponyfill. The logic for special cases is complicated and it just seems unnecessary to re-implement it.

I'm suggesting following algorithm:

[code]

If the search pattern is string we escape it and create a global regex pattern from it. If it's already regex we just convert it to global regex.

@js636f what do sa

[2020-09-13 09:28] char0n commented on #1346
@jprask sure, go ahead!

[2020-09-13 09:30] char0n commented on #1392
Closing this issue, there's been no followup discission.

[2020-09-13 09:30] #1392 closed

[2020-09-13 09:32] #1239 closed

[2020-09-13 09:43] char0n opened #1577 "Add support for ramda@0.27.1"
https://github.com/ramda/ramda/releases/tag/v0.27.1

[2020-09-13 09:45] #1520 closed

[2020-09-13 15:09] char0n opened #1589 "Isolate test:ramda to nightly build"
`test:ramda` is consuming a lot of time. This task can be moved to nightly build and checked only once a day. We'll same a lot of time by doing that, as `test:ramda` takes about 10 minutes.

As part of this try to re-enable all browser for web testing by removing `launch_in_ci` from `testem.js`.

[2020-09-13 15:10] #1577 closed

[2020-09-14 19:08] terrenmoe opened #1592 "Broken link in documentation for lensTraverse"
https://github.com/char0n/ramda-adjunct/blob/5284707c350c41b90227d39968612d1d54a006e4/src/lensTraverse.js#L11
The sequence link should be https://ramdajs.com/docs/#sequence

[2020-09-15 12:23] js636f commented on #1573
@char0n this sounds reasonable, I think we should go this way

[2020-09-16 18:45] mellero commented on #1260
Working on this now, just waiting on #788. Question about the functionality: Should Infinity values return MAX_VALUE /MIN_VALUE or MAX_SAFE_INTEGER/MIN_SAFE_INTEGER? Should all NaN values be converted to the max value, or to 0?

Thanks

[2020-09-20 08:10] char0n commented on #1592
@terrenmoe thanks for reporting this!

[2020-09-20 19:37] char0n commented on #1260
Code review for #788 has been provided, will take probably couple of days to merge it. Regarding your question: we need to use MAX_VALUE/MIN_VALUE, proof lies in:
[code]

[2020-09-20 19:43] #1440 closed

[2020-09-21 19:58] BenoitHiller opened #1602 "Type of compact does not match the constraint it applies"
**Describe the bug**
The `compact` function has the following type:

[code]

However it also filters out other falsy values which isn't reflected by the type constraint, namely: `false`, `''`, `0`, and `NaN`.

The type should be:

[code]

**To Reproduce**

1. Write a compact statement over a list that contains boolean values
2. Assert that the output does not contain false
3. See a type error

Her

[2020-09-21 21:43] BenoitHiller commented on #1602
I've opened a PR as it is a small change.

[2020-09-25 06:17] DanielAguirre commented on #1592
Hi @char0n, I would like to help with this if is til available

[2020-09-25 06:46] char0n commented on #1592
Sure, go ahead!

[2020-09-26 17:04] dbartholomae commented on #1228
Happy to take this next week! I could also take a couple, but don't want to take away the opportunity for others to get to know the repo. What's your thought on this?

[2020-09-27 08:13] #1592 closed

[2020-09-27 08:16] char0n commented on #1228
Cool, I've assigned you to this issue.

I'd advise to keep the buffer of issues you're implementing to 2 in PR status.I'll try to provide code review and merge as soon as possible.

[2020-09-27 08:22] dbartholomae commented on #1228
Sounds good! I will be working on the issue in a Twitch live stream on Thursday from 10am CEST onwards, so I assume that the first PR should be ready around 11am CEST (assuming I don't run into trouble with the setup).

[2020-09-27 08:38] char0n commented on #1228
@dbartholomae, feel free to provide a Twitch live stream link here also. I could promote it a little bit ;]

[2020-09-27 09:00] dbartholomae commented on #1228
Sure, thanks, it's https://twitch.tv/the_startup_cto

[2020-09-29 01:02] devadeka commented on #1346
Hey, could I have a go at this for hacktoberfest? if it is ok to have multiple people attempt the same issue.
Ta

[2020-09-29 08:00] char0n commented on #1346
@devadeka unfortunately it's reserved for @jprask.

Just to be sure @jprask still interested in this issue ?

[2020-10-01 10:23] dbartholomae commented on #1227
Might be helpful to look at #1228 and implement this as a specialisation of `renameKeyWith` instead.

[2020-10-01 10:55] char0n commented on #1260
@mellero I'd say that https://github.com/char0n/ramda-adjunct/pull/1454 seems like a dead PR (no response from author), so to unblock this issue feel free to issue another PR for #788 and take a look at my code review comments on current PR https://github.com/char0n/ramda-adjunct/pull/1454

[2020-10-01 11:02] dbartholomae commented on #978
I'll add a couple (and in doing so already found a typing error) soon.

[2020-10-01 18:05] char0n commented on #1227
@dbartholomae yep, sounds good!

[2020-10-01 22:02] mellero commented on #1260
Sure I'll get on that asap

[2020-10-02 08:52] char0n opened #1614 "RA.Identity monad not showing in docs"
**Describe the bug**

RA.Identity monad is not showing in our documentation

![image](https://user-images.githubusercontent.com/193286/94905262-e0ed7600-049c-11eb-939b-cc2793b83aa5.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://char0n.github.io/ramda-adjunct/2.28.0/
2. See there is not R.Identity

**Expected behavior**
RA.Identity should show in documentation. For example

[2020-10-03 10:44] tsgoswami commented on #1614
Hii, I would like to give a try and work on this issue.

[2020-10-04 09:17] kcouliba commented on #889
Hey, I'd like to give a try on that one if you don't mind. I think the proposed implementation could do.

[2020-10-04 16:07] char0n commented on #889
@kcouliba you didn't give me chance to respond to your comment here. It seems that somebody already implemented this function in [ramda](https://github.com/ramda/ramda/blob/master/source/whereAny.js).

Having said that, we'll not be incorporated this function into Ramda Adjunct as well. I'm sorry you'd have to go through the trouble of implementing it.

[2020-10-04 16:07] #889 closed

[2020-10-04 16:25] #1602 closed

[2020-10-04 20:36] kcouliba commented on #889
@char0n no problem, I had fun implementing it. I'll be looking forward to other functions to implement

[2020-10-05 17:58] mellero commented on #788
Will try to implement this today

[2020-10-05 18:01] wanjuntham commented on #1614
May I try this?

[2020-10-05 18:42] char0n commented on #1614
@wanjuntham sure, go ahead!

[2020-10-08 19:59] #1614 closed

[2020-10-08 20:20] char0n commented on #1228
@dbartholomae before I close this issue, do you have a recording of you creating the function? thanks

[2020-10-08 20:26] #1228 closed

[2020-10-08 21:20] dbartholomae commented on #1228
No, I don't save these sessions for later.

[2020-10-11 13:27] ltruchot commented on #877
I'll try to take this one for hacktoberfest, if none is on it !

[2020-10-17 12:32] ltruchot commented on #877
The pull request is ready: https://github.com/char0n/ramda-adjunct/pull/1639

Let me know if it is what we wanted.

Thank you for the hacktoberfest participation of the project !

[2020-10-27 19:22] char0n commented on #1057
Finally we've utilized [Merge me!](https://github.com/marketplace/actions/merge-me) GitHub Action.

[2020-10-27 19:24] #1057 closed

[2020-11-12 14:53] jprask commented on #1346
@char0n Yeah, my apologies on the delay here, ended up busy with some parallel stuff. Starting it now.

[2020-12-13 16:54] #102 closed

[2020-12-13 18:53] #1573 closed

[2020-12-13 18:53] char0n commented on #1573
Fix is on master.

[2020-12-15 19:40] #206 closed

[2020-12-15 22:08] meszaros-lajos-gyorgy commented on #1573
Thank you!

[2020-12-17 11:14] char0n opened #1707 "Fix invokeArgs typings"
Current signature is
[code]
but should be
[code]

[2020-12-17 21:12] #1230 closed

[2020-12-18 21:12] #1707 closed

[2020-12-27 10:14] #1229 closed

[2020-12-29 08:48] #1346 closed

[2021-01-03 20:17] Maushundb commented on #1227
Happy to grab this!

[2021-01-03 20:21] Maushundb commented on #978
For reference, TS 3.9 has added `@ts-expect-error` [comments](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-9.html#-ts-expect-error-comments) built into the library to test failed typed assertions. dtslint seem a bit more strict since you can assert the actual type, but worth noting.

[2021-01-16 15:52] #787 closed

[2021-01-17 16:51] char0n opened #1732 "clamp"
**Is your feature request related to a problem? Please describe.**

Clamps number within the inclusive lower and upper bounds.

**Describe the solution you'd like**

[code]

**Additional context**
https://lodash.com/docs/4.17.15#clamp

[2021-01-19 12:47] PrathameshAshra commented on #1732
First Timer here, trying to do this, please help me where stuck

[2021-01-21 08:12] char0n commented on #1732
@PrathameshAshra, PR of this should come containing 5 files. Here is [PR](https://github.com/char0n/ramda-adjunct/pull/1067/files) that you can use as model template to build your own PR for clamp function.

[2021-01-21 12:56] PrathameshAshra commented on #1732
Thanks for the reply, i would do this and keep you in loop.

[2021-01-25 19:50] char0n commented on #1732
Already part of ramda: https://ramdajs.com/docs/#clamp

[2021-01-25 19:50] #1732 closed

[2021-02-21 10:21] #81 closed

[2021-02-21 11:48] GiladShoham opened #1773 "can not install v2.31.0 - post install - husky install failes"
**Describe the bug**
Can not install the new version - 2.31.0

**To Reproduce**
Steps to reproduce the behavior:
run `npm i ramda-adjunct` or yarn add `ramda-adjunct`

**Expected behavior**
install works

**Screenshots**
yarn error:
[code]
npm error:
[code]

**Desktop (please complete the following information):**
 - OS: macos 11
 - Version [e.g. 22] 2.31.0

**Additional context**
node 12.15.0
npm

[2021-02-21 12:53] char0n commented on #1773
Thank for reporting it. Working on it.

[2021-02-21 13:02] char0n commented on #1773
Fixed by https://www.npmjs.com/package/ramda-adjunct/v/2.31.0

[2021-02-21 13:03] #1773 closed

[2021-03-01 21:45] #786 closed

[2021-03-12 08:04] char0n opened #1807 "Add .mocharc.js and .husky to .npmignore"

[2021-03-13 19:57] gunwooko commented on #1807
Hi! Can I work on this? This is my first time to contribute in open-source projects.

[2021-03-14 15:23] char0n commented on #1807
@gunwooko sure, go ahead!

[2021-03-14 16:35] #1807 closed

[2021-03-15 20:50] #372 closed

[2021-03-28 06:49] skShekhar commented on #1282
Can I take this up? I'm a first timer.

[2021-03-28 07:58] char0n commented on #1282
@skShekhar sure, go ahead!

[2021-03-28 10:04] skShekhar commented on #1282
@char0n I'm getting the following error when I try to push the code
`remote: Permission to char0n/ramda-adjunct.git denied to skShekhar.
fatal: unable to access 'https://github.com/char0n/ramda-adjunct.git/': The requested URL returned error: 403`.

Is it something which I need to fix at my end or do I not have the write access?

[2021-03-28 10:18] char0n commented on #1282
@skShekhar you have to fork this repository and not clone it. Find more information here: https://docs.github.com/en/github/getting-started-with-github/fork-a-repo and here: https://guides.github.com/activities/hello-world/

[2021-04-02 18:16] #1282 closed

[2021-04-10 15:44] skShekhar commented on #793
@char0n Can I take this up

[2021-04-11 19:43] char0n commented on #793
@skShekhar sure go ahead.

[2021-04-12 06:47] skShekhar commented on #793
@char0n Is `[-1]` a sentinel value?

[2021-04-12 08:19] char0n commented on #793
@skShekhar that's a good question.

Sentinel value can only be [signed 32 integer](https://char0n.github.io/ramda-adjunct/2.32.0/RA.html#.isInteger32). We cannot count in implicit JavaScript coersions.

So the correct implementation would be:

[code]

[2021-04-12 09:27] skShekhar commented on #793
@char0n Using `isInteger32` will fail for `new Number(-1)` which is one of the assertions in the description.

[2021-04-12 09:33] char0n commented on #793
@skShekhar right, I've updated to assertion to expect `false`. `Number(-1)` is technically an object and not signed 32 bit integer value.

[2021-04-12 09:39] skShekhar commented on #793
@char0n Okay. If we are not going to do any type coercions, that means `'-1'` is also out. The only thing left is `-1`. Do we even need a function just to check if the value is `-1`?

[2021-04-12 09:42] char0n commented on #793
Yes, it means exactly that.

Yes, we have a lot functions asserting on single value. The function becomes handy in more complex functional compositions like validation and others.

[2021-04-13 15:01] #793 closed

[2021-04-17 08:57] char0n commented on #141
Closing as build-in dependabot alerts do roughly the same thing.

[2021-04-17 08:57] #141 closed

[2021-04-17 09:27] #1232 closed

[2021-11-01 20:27] #516 closed

[2021-11-04 04:43] sacrosanctic opened #2079 "Typo in the documentation"
**Describe the bug**
There is a typo for isNotNilOrEmpty

**To Reproduce**
Steps to reproduce the behavior:
https://char0n.github.io/ramda-adjunct/2.35.0/RA.html#.isNilOrEmpty
https://char0n.github.io/ramda-adjunct/2.35.0/RA.html#.isNotNilOrEmpty

**Expected behavior**
isNotNilOrEmpty should say return false

**Screenshots**
![image](https://user-images.githubusercontent.com/2974920/140258938-8153

[2021-11-04 07:27] char0n commented on #2079
@sacrosanctic thanks for catching this, would you fancy opening a fixing PR?

[2021-11-04 12:15] sacrosanctic commented on #2079
i dont know how

[2021-11-04 15:32] #2079 closed

[2021-11-04 15:32] char0n commented on #2079
@sacrosanctic no worries. Fixed in https://github.com/char0n/ramda-adjunct/commit/04ef06ec9cf9e69f980d558ea30455f881369bca. And thanks again!

[2021-11-25 18:34] nolleto commented on #1241
Can I get this issue?

[2021-11-26 06:48] char0n commented on #1241
@nolleto sure, but in order to implement `sortByProp` you have to first implement #1240. So if you want to start somewhere, #1240 is a way to go.

[2021-12-10 14:50] tauantcamargo commented on #1226
hey @char0n what do u have in mind?

[2021-12-12 11:36] char0n commented on #1226
@tauantcamargo well we have couple of options here.

Introduce our own repl as Ramda.js does: https://ramdajs.com/repl/ and then create links containing the exmple code as uri param to that repl. Example can be seen for example here: https://ramdajs.com/docs/#add (click on "Open in REPL")

Another alternative could be what [beta React documentation](https://beta.reactjs.org/learn) did with their e

[2021-12-12 11:38] tauantcamargo commented on #1226
Sounds nice, let me get this one.

[2021-12-12 11:57] char0n commented on #1226
@tauantcamargo, sure. Go wild ;]

[2021-12-13 12:37] char0n opened #2113 "Discontinue using of `test/shared`"
We're testing on minimum Node.js version of 12.x which already contains all the stuff we need. Needs to be double checked, but IMHO we can get rid of it.

[2021-12-17 11:35] tauantcamargo commented on #654
may i can get this one?

[2021-12-20 06:08] char0n commented on #654
@tauantcamargo sure

[2021-12-27 13:25] tauantcamargo commented on #654
so a few days ago i created this pull request https://github.com/char0n/ramda-adjunct/pull/2123 😃 @char0n